# Data Retrieval

In [1]:
import pandas as pd
import csv
import re
import statsmodels.api as sm
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np

from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GroupShuffleSplit
from sklearn.ensemble import RandomForestRegressor

In [2]:
# File path for cities: San Francisco(sf), 
# Okaland(ok), Santa Clara(sc), Santa Cruze(scz)

file_url = '/Users/xzhou/github/project_archives/files_airbnb/{}/calendar.csv'

sf_file = file_url.format('sf_airbnb')
ok_file = file_url.format('ok_airbnb')
sc_file = file_url.format('sc_airbnb')
scz_file = file_url.format('scz_airbnb')

In [3]:
# Loaded price by date information for each city

pricing_sf = pd.read_csv(sf_file, parse_dates=['date'])
pricing_ok = pd.read_csv(ok_file, parse_dates=['date'])
pricing_sc = pd.read_csv(sc_file, parse_dates=['date'])
pricing_scz = pd.read_csv(scz_file, parse_dates=['date'])

print(pricing_sf.shape, pricing_ok.shape, pricing_sc.shape, pricing_scz.shape)

(2420680, 4) (1057770, 4) (2068820, 4) (573050, 4)

In [4]:
# Concatenate four files into one
# Created keys for each file for future references

frames = [pricing_sf, pricing_ok, pricing_sc, pricing_scz]
keys = ['pricing_sf', 'pricing_ok', 'pricing_sc', 'pricing_scz']

df_pricing = pd.concat(frames, keys=keys)

df_pricing.head(10)

              listing_id       date available price
pricing_sf 0         958 2019-08-05         f   NaN
           1         958 2019-08-04         f   NaN
           2         958 2019-08-03         f   NaN
           3         958 2019-08-02         f   NaN
           4         958 2019-08-01         f   NaN
           5         958 2019-07-31         f   NaN
           6         958 2019-07-30         f   NaN
           7         958 2019-07-29         f   NaN
           8         958 2019-07-28         f   NaN
           9         958 2019-07-27         f   NaN

# Data Clean up

## Filter down to data with pricing information

In [7]:
# Filter to houses that are available and have listing prices

df_pricing_smaller = df_pricing[df_pricing['available']=='t']
df_pricing_smaller = df_pricing_smaller.copy()

print('Dimension for df_pricing_smaller: ', df_pricing_smaller.shape)
print ('\nNumber of Unique ids: ', df_pricing_smaller.listing_id.nunique())

Dimension for df_pricing_smaller:  (2853357, 4)

Number of Unique ids:  14770

In [8]:
df_pricing_smaller.columns

Index(['listing_id', 'date', 'available', 'price'], dtype='object')

In [9]:
display( df_pricing_smaller.date.describe(include='all'))

count                 2853357
unique                    389
top       2018-11-03 00:00:00
freq                    10393
first     2018-08-06 00:00:00
last      2019-08-29 00:00:00
Name: date, dtype: object

## Format Conversion and Outlier Removal

In [11]:
# Noted currencies are formated as strings and need to convert to float

def currency2float(string):
    """
    Convert currency to float
    """
    float_ = float(str(string).strip('$').replace(',',''))
    return float_

In [12]:
# Converted price to float format

df_pricing_smaller['price'] = df_pricing_smaller['price'].apply(
                              lambda x: currency2float(x))

In [17]:
# Removed outliers based on 'price'. Use 5% and 95% percentiles as cutoff

five_percentile = np.percentile(df_pricing_smaller.price, 5)
ninety_five_percentile = np.percentile(df_pricing_smaller.price, 95)

df_pricing_smaller = df_pricing_smaller[(
                         df_pricing_smaller.price>=five_percentile)
                        & (df_pricing_smaller.price<=ninety_five_percentile)]

print ('df_pricing_smaller dimensions: ', df_pricing_smaller.shape)

df_pricing_smaller dimensions:  (1931274, 4)

## Filter Data

In [18]:
# Added 'month' column to extract of month of date
# Added 'day_of_week' column to extact day of week. 
# Default format: Monday=0, ..., Sunday=6

df_pricing_smaller['month'] = df_pricing_smaller['date'].dt.month
df_pricing_smaller['day_of_week'] = df_pricing_smaller['date'].dt.weekday


print('df_pricing_smaller dimensions', df_pricing_smaller.shape)
display(df_pricing_smaller.head())

df_pricing_smaller dimensions (1931274, 6)

               listing_id       date available  price  month  day_of_week
pricing_sf 63         958 2019-05-02         t  181.0      5            3
           64         958 2019-05-01         t  181.0      5            2
           65         958 2019-04-30         t  181.0      4            1
           66         958 2019-04-29         t  181.0      4            0
           67         958 2019-04-28         t  181.0      4            6

In [19]:
display(df_pricing_smaller.describe(include ='all'))

,listing_id,date,available,price,month,day_of_week
count,1.931274e+06,1931274,1931274,1.931274e+06,1.931274e+06,1.931274e+06
unique,NaN,389,1,NaN,NaN,NaN
top,NaN,2018-11-03 00:00:00,t,NaN,NaN,NaN
freq,NaN,7096,1931274,NaN,NaN,NaN
first,NaN,2018-08-06 00:00:00,NaN,NaN,NaN,NaN
last,NaN,2019-08-29 00:00:00,NaN,NaN,NaN,NaN
mean,1.389968e+07,NaN,NaN,1.433284e+02,6.550739e+00,2.986810e+00
std,8.724262e+06,NaN,NaN,5.813113e+01,3.647660e+00,2.003891e+00
min,9.580000e+02,NaN,NaN,6.500000e+01,1.000000e+00,0.000000e+00
25%,5.914638e+06,NaN,NaN,9.400000e+01,3.000000e+00,1.000000e+00
50%,1.460646e+07,NaN,NaN,1.310000e+02,7.000000e+00,3.000000e+00
75%,2.173651e+07,NaN,NaN,1.860000e+02,1.000000e+01,5.000000e+00
max,2.815247e+07,NaN,NaN,2.890000e+02,1.200000e+01,6.000000e+00

In [69]:
df_by_month_day = df_pricing_smaller.groupby(['listing_id', 'month', 'day_of_week'])  \
                                    .price.mean()  \
                                    .reset_index()
df_by_month_day.head()

   listing_id  month  day_of_week  price
0         958      1            0  180.0
1         958      1            1  179.5
2         958      1            2  179.5
3         958      1            3  179.0
4         958      1            4  183.0

In [80]:
df_month_day_counts = df_by_month_day.groupby(['listing_id'])  \
                                     .price.count()  \
                                 .reset_index()
df_month_day_counts.rename(columns = {'price':'counts'}, inplace=True)
df_month_day_counts.head()

   listing_id  counts
0         958      48
1        3083      28
2        5739      12
3        5858      84
4        7918      63

In [81]:
# Find out listings that have full price information (12 months and 7 days/week)

listing_with_12m_7d_price = list(df_month_day_counts[
                                df_month_day_counts.counts==12*7]
                                .listing_id)

In [83]:
df_pricing_available = df_pricing_smaller[df_pricing_smaller.listing_id.isin(
                                          listing_with_12m_7d_price)]
df_pricing_available.shape

(655132, 6)

In [85]:
df_pricing_available.describe(include='all')

,listing_id,date,available,price,month,day_of_week
count,6.551320e+05,655132,655132,655132.000000,655132.000000,655132.000000
unique,NaN,389,1,NaN,NaN,NaN
top,NaN,2019-05-06 00:00:00,t,NaN,NaN,NaN
freq,NaN,1883,655132,NaN,NaN,NaN
first,NaN,2018-08-06 00:00:00,NaN,NaN,NaN,NaN
last,NaN,2019-08-29 00:00:00,NaN,NaN,NaN,NaN
mean,1.362489e+07,NaN,NaN,139.006151,6.426778,2.993769
std,8.822227e+06,NaN,NaN,55.700680,3.488229,2.003698
min,5.858000e+03,NaN,NaN,65.000000,1.000000,0.000000
25%,5.721902e+06,NaN,NaN,90.000000,3.000000,1.000000
50%,1.341834e+07,NaN,NaN,128.000000,6.000000,3.000000
75%,2.173730e+07,NaN,NaN,179.000000,10.000000,5.000000
max,2.815247e+07,NaN,NaN,289.000000,12.000000,6.000000

In [87]:
# Group by month by weekday, and calculate an average pricing

df_pricing_by_month_weekday = df_pricing_available.groupby(  \
                              ['listing_id', 'month', 'day_of_week']) \
                              .price.mean()  \
                              .reset_index()
df_pricing_by_month_weekday.head()

   listing_id  month  day_of_week  price
0        5858      1            0  235.0
1        5858      1            1  235.0
2        5858      1            2  235.0
3        5858      1            3  235.0
4        5858      1            4  235.0

In [88]:
df_pricing_by_month_weekday.describe(include='all')

         listing_id          month    day_of_week          price
count  1.581720e+05  158172.000000  158172.000000  158172.000000
mean   1.360873e+07       6.500000       3.000000     138.868869
std    8.823256e+06       3.452063       2.000006      55.536787
min    5.858000e+03       1.000000       0.000000      65.000000
25%    5.641077e+06       3.750000       1.000000      90.000000
50%    1.341834e+07       6.500000       3.000000     127.000000
75%    2.173651e+07       9.250000       5.000000     179.000000
max    2.815247e+07      12.000000       6.000000     289.000000

In [89]:
# Check for null values if any

df_pricing_by_month_weekday.isnull().sum()

listing_id     0
month          0
day_of_week    0
price          0
dtype: int64

In [90]:
# Rename the average price column to avoid confusion

df_pricing_by_month_weekday.rename(columns={'price':'price_by_month_week'}, inplace=True)

In [91]:
df_pricing_by_month_weekday.shape

(158172, 4)

In [92]:
df_pricing_by_month_weekday.head()

   listing_id  month  day_of_week  price_by_month_week
0        5858      1            0                235.0
1        5858      1            1                235.0
2        5858      1            2                235.0
3        5858      1            3                235.0
4        5858      1            4                235.0

In [93]:
def get_month(number):
    """
    Given a number, return the name of month.
    
    """
    month_lookup = {1:'Jan.', 2:'Feb.', 3:'Mar.', 4:'Apr.', 5:'May.', 6:'Jun.',
                    7:'Jul.', 8:'Aug.', 9:'Sep.', 10:'Oct.', 11:'Nov.', 12:'Dec.'}
    
    return month_lookup[number]

In [94]:
def get_weekdays(number):
    """
    Given a number, return the name of month.
    
    """
    weekday_lookup = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 
                      4:'Friday', 5:'Saturday', 6:'Sunday'}
    
    return weekday_lookup[number]

In [95]:
df_pricing_by_month_weekday['month'] = df_pricing_by_month_weekday['month']  \
                                       .apply(lambda x: get_month(x))

In [96]:
df_pricing_by_month_weekday['day_of_week'] = df_pricing_by_month_weekday['day_of_week']  \
                                             .apply(lambda x: get_weekdays(x))

In [97]:
df_pricing_final = pd.get_dummies(df_pricing_by_month_weekday, 
                                  prefix='',
                                  prefix_sep='',
                                  columns=['month', 'day_of_week'])

In [98]:
df_pricing_final.columns

Index(['listing_id', 'price_by_month_week', 'Apr.', 'Aug.', 'Dec.', 'Feb.',
       'Jan.', 'Jul.', 'Jun.', 'Mar.', 'May.', 'Nov.', 'Oct.', 'Sep.',
       'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
       'Wednesday'],
      dtype='object')

In [99]:
df_pricing_final.shape

(158172, 21)

In [100]:
pkl_file = '/Users/xzhou/github/project_archives/files_airbnb/{}.pkl'

pkl_path = pkl_file.format('listings_with_selected_features')

df_listings_reviews = pd.read_pickle(pkl_path)
df_listings_reviews.head()

,id,bedrooms,cleaning_fee,room_type_Entire home/apt,reviews_per_month,city_San Francisco,city_Oakland,bathrooms,accommodates,number_of_reviews,...,neighbourhood_cleansed_Palo Alto,host_is_superhost_f,amenities_Lock on bedroom door,amenities_Private entrance,amenities_Familykid friendly,district_Santa Clara,neighbourhood_cleansed_San Jose,host_identity_verified_f,ref_district,ref_jurisdiction
0,958,1.0,2.00000,1,1.38,1,0,1.0,3,152,...,0,0,0,1,1,0,0,0,San Francisco,SAN FRANCISCO
1,5858,2.0,2.00000,1,0.99,1,0,1.0,5,112,...,0,1,0,1,1,0,0,0,San Francisco,SAN FRANCISCO
2,7918,1.0,1.69897,0,0.16,1,0,4.0,2,17,...,0,1,1,1,0,0,0,0,San Francisco,SAN FRANCISCO
3,8142,1.0,1.69897,0,0.15,1,0,4.0,2,7,...,0,1,1,1,1,0,0,0,San Francisco,SAN FRANCISCO
4,8567,2.0,2.09691,1,0.27,1,0,1.0,6,30,...,0,1,0,0,1,0,0,1,San Francisco,SAN FRANCISCO

In [101]:
df_listings_reviews.shape

(10352, 33)

In [102]:
df_final = pd.merge(left=df_pricing_final, 
                    right=df_listings_reviews,
                    how='inner',
                    left_on='listing_id',
                    right_on='id')

In [103]:
df_final.shape

(95424, 54)

In [104]:
df_final.isnull().sum()

listing_id                                  0
price_by_month_week                         0
Apr.                                        0
Aug.                                        0
Dec.                                        0
Feb.                                        0
Jan.                                        0
Jul.                                        0
Jun.                                        0
Mar.                                        0
May.                                        0
Nov.                                        0
Oct.                                        0
Sep.                                        0
Friday                                      0
Monday                                      0
Saturday                                    0
Sunday                                      0
Thursday                                    0
Tuesday                                     0
Wednesday                                   0
id                                          0
bedrooms                                    0
cleaning_fee                                0
room_type_Entire home/apt                   0
reviews_per_month                           0
city_San Francisco                          0
city_Oakland                                0
bathrooms                                   0
accommodates                                0
number_of_reviews                           0
host_listings_count                         0
review_scores_rating_log10                  0
host_yrs                                    0
guests_included                             0
calculated_host_listings_count              0
review_scores_location_log10                0
beds                                        0
yrs_since_first_review                      0
host_response_rate                          0
amenities_Air conditioning                  0
review_scores_value_log10                   0
jurisdiction_names_Santa Cruz County, CA    0
amenities_Cable TV                          0
neighbourhood_cleansed_Palo Alto            0
host_is_superhost_f                         0
amenities_Lock on bedroom door              0
amenities_Private entrance                  0
amenities_Familykid friendly                0
district_Santa Clara                        0
neighbourhood_cleansed_San Jose             0
host_identity_verified_f                    0
ref_district                                0
ref_jurisdiction                            0
dtype: int64

In [105]:
df_final.shape

(95424, 54)

In [106]:
df_final.columns

Index(['listing_id', 'price_by_month_week', 'Apr.', 'Aug.', 'Dec.', 'Feb.',
       'Jan.', 'Jul.', 'Jun.', 'Mar.', 'May.', 'Nov.', 'Oct.', 'Sep.',
       'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
       'Wednesday', 'id', 'bedrooms', 'cleaning_fee',
       'room_type_Entire home/apt', 'reviews_per_month', 'city_San Francisco',
       'city_Oakland', 'bathrooms', 'accommodates', 'number_of_reviews',
       'host_listings_count', 'review_scores_rating_log10', 'host_yrs',
       'guests_included', 'calculated_host_listings_count',
       'review_scores_location_log10', 'beds', 'yrs_since_first_review',
       'host_response_rate', 'amenities_Air conditioning',
       'review_scores_value_log10', 'jurisdiction_names_Santa Cruz County, CA',
       'amenities_Cable TV', 'neighbourhood_cleansed_Palo Alto',
       'host_is_superhost_f', 'amenities_Lock on bedroom door',
       'amenities_Private entrance', 'amenities_Familykid friendly',
       'district_Santa Clara', 'neighbourhood_cleansed_San Jose',
       'host_identity_verified_f', 'ref_district', 'ref_jurisdiction'],
      dtype='object')

In [107]:
# Drop duplicate columns

df_final.drop(['id'], axis=1, inplace=True)

In [108]:
df_final.shape

(95424, 53)

In [109]:
# Create correlation matrix
corr_matrix = df_final.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.90
to_drop = [column for column in upper.columns if any(upper[column] > 0.90)]

to_drop

['review_scores_value_log10']

In [110]:
# Drop features that have high correlation

df_final.drop(to_drop, axis=1, inplace=True)

In [111]:
df_final.shape

(95424, 52)

In [112]:
pkl_file = '/Users/xzhou/github/project_archives/files_airbnb/{}.pkl'
pkl_path = pkl_file.format('listings_seasonality')

with open(pkl_path, 'wb') as file:
        pd.to_pickle(df_final, file)

In [ ]:
pkl_file = '/Users/xzhou/github/project_archives/files_airbnb/{}.pkl'
pkl_path = pkl_file.format('listings_seasonality')

try: 
    with open(pkl_path, 'rb') as file:
        df_final = pd.read_pickle(file)
except:
    with open(pkl_path, 'wb') as file:
        pd.to_pickle(df_final, file)

In [113]:
# Perform multiple modeling for price prediction

X = df_final.drop(['price_by_month_week', 'ref_district', 'ref_jurisdiction'], axis=1)
y = df_final.loc[:, ['listing_id', 'price_by_month_week']]

In [114]:
grp_by_listing_ids = df_final.groupby('listing_id').first().reset_index().listing_id

In [118]:
listing_ids = list (grp_by_listing_ids)

In [119]:
num_of_grps = len(grp_by_listing_ids)

training_ids = np.random.choice(listing_ids, int(num_of_grps*0.75), replace=False)
print(len(training_ids))
training_ids

852

array([25628339,  5193718,   717000,  5861266,    69410, 20695034,
       10912061, 10233191,  8192494,  2182169,  7636885, 20716986,
        4251101,  4032327,  5005798,   427707,  1241029, 15194320,
         307827,  2008590,  2829131, 18022892, 12872051, 11983474,
        7459204,  7887588, 15939487,  1914602,  7858199,  6214853,
        3541007,   745925, 24470284,  4297189,  5058777,  3890704,
       21345876,  1442027,  1722167,  5116060,  5008287,  3022391,
       24783410, 24100944,  4120530, 13359333, 10595590,  3238531,
        2465868,   443908, 14534564, 19725513, 17026443,  4119973,
       21295356, 22112477,  7887030,  1349884,  1162640, 17076076,
       25580922, 11591266, 26171011, 26631967,   226594, 10413713,
       12212126,    39174, 13014186, 15624712, 14885810, 10316398,
        1459083, 10886381, 23672681, 26316944,  6186641, 14311906,
       20148137, 13465756,  4580381, 21647837, 11372655,  3706161,
        1873261, 17301015, 13360872,  8764158,  7844355, 22534560,
        4896087,   472901,  1479769, 22029318,  4457530,   923987,
       19865320, 20092181, 15471316,  1203526,  5259279, 24948046,
        7902889, 12739048,  9149812, 23075539,   791279,  9463114,
       15066037,  7341076, 23147212, 15072431,   256176,  1122250,
       17247487,  8423124,  3449103,  8646463,  8193716, 20230859,
        2072133,  6337298, 21020071, 15071646, 25165680, 24627580,
       14202383,  8005452, 24776227, 20308554,  6349421, 16005353,
       15943499, 19789445, 14929304, 14758546, 23375904,  7053486,
       13395285,  4902063, 13042210,   301971,  4909117,  1836896,
       15776727, 24182769, 25234139,  6156661,  3475515,  6754197,
        4074117,  2337552,  4440015,   656780,   187730,   779109,
        7998278, 15073270, 21864049,  2927103,  7311722, 14610008,
        2928311,  8070474, 10710282, 27554168, 22887097,  8554434,
       16040678, 23941195, 21597772,  3672198,  4822641, 20717553,
       16570342, 26384803, 23734350,  9738539,  9372025, 18125930,
       16921134,  8328410,  9098317, 14374783, 21838532,   674934,
       18705941, 17384834,  6499980,  7681348, 19576566, 24783808,
       14967505,  3936343,  4476390,    59314,  2022861,  6494663,
       19934941,  7345170, 26329548,  7290465, 11417125,  2241035,
       11038453,  2817021, 20308685, 20502622, 25170927,   126046,
        7828828, 13233712, 14383718,   931520,  5173754, 26956719,
        4832436,   191867,  9420385,  1641978, 27106116, 27263966,
       19654100,  8226171, 13660572, 24405590, 11463606,  2131622,
         743260, 25265212,  9513866, 17367074, 10282144, 15767976,
       10001457, 15831877, 20704455, 22150560,  1999524, 15179189,
       18895672, 26365545, 13135353,  3283447, 18931048,    63405,
        1511274,  8306384, 10597190,  7602066,  2817214, 14936042,
         727926,  8468482, 16724190,   902635, 11461771, 10614605,
       22191540,  1959776, 10135902, 26429616, 12682595,  1466344,
       26110655, 23981407,  1584470, 25189932,  4549651, 23313532,
        2188308, 21827805, 26335670, 17363608,  7681228, 20775102,
       13170662, 25203207, 17979358,    73011, 13126240, 24790559,
       24335598,  1117813,  2186905, 11010620,   166771,  5641077,
       19954337, 19035187,  3689632, 18878623,  1339473,  8411611,
         493889, 13578465, 21520861, 21255883,  8647513, 21014346,
        1807493, 10417667,   757745,  3655811, 12311518,  1399217,
         769734,   592850, 16672664, 24557562, 13999942,  6103971,
        9183782,  7803043,  7966574,   383002,  1189971, 14057062,
       16190202, 15722690,    57676, 10926307,  1006392,   263356,
       18706768,  5406477,  8886022, 10454502,    59313, 20716757,
        5863674, 18636693,  7401136, 17976589,  9150423, 14311890,
        9944669, 26916514, 19315898, 20367610, 22215064, 25539671,
       22942197,   415498, 20966756, 16727361, 23202750, 24087763,
        8759787,  1579670,  8797785,  1919711, 15284761, 23522824,
       19860636, 25490781, 15412358, 15521441, 12010548,  2776338,
       19863843,  1870059, 14732197,  3395770, 21091720,  7535249,
        5213768,  5784888,  4322842,  6591359, 12018171, 19367413,
        5826983,  3416695, 24783098,  4365392,  8551443,  6102300,
        7555372,  9532943,  8975330, 10551548,  1892611,  1412372,
        9909627, 11230189,  3033398,  7985260, 25056108,  8420709,
         238204,   604843, 13128357,  4061282,  5196116,  5090998,
        1299242,  8295055, 11041028,  3273246,   105497, 14576746,
       18733708,  3504131,  4412661, 24452697,  1281203, 21582543,
        1056992, 17667965,  6272291, 18348686,  9197655,  5076251,
        1117786, 24678255, 25873383, 23399888, 18547920,  7162627,
       24040457, 23941748, 21790309, 17685999, 24785138, 11493791,
       24250302,  8595304, 24525045, 13576904,   298368,  1547477,
        9364688, 23701233, 12455372,  7323097,  9296524, 15313698,
       18108225,  3310586,  6934874, 19380763, 20156650, 15101204,
       19752144,  7885139,  5007358,  6688454, 19223278,  5196233,
        5893488, 21462489, 10023120, 23235125,  2189514, 20794544,
       23121061, 14126923,  3139633, 21620072,   229219,  6604799,
       10787814, 22190418, 11066272, 22084599, 12266059,  6874013,
         510280,  5376278, 16352039,  5709514,  5047650,  5039206,
       14575557,  6744521,  4614069, 15166141,  1326553, 25181913,
       15115729,  1606292, 24788438, 15870673, 22412096, 10838816,
       24064126,  8805264,    43732,   806104, 16725126, 22848818,
       16910795, 17043136, 22319044,  7914711,   583395, 15939264,
       17172420, 16331804, 11166003, 20214953,    23637, 18199042,
        8339500, 15401372,  5757805, 16395500,   583689, 11241809,
       22655395,  8577308,  6210440, 24873576, 23217998, 16145881,
        5721902, 15347782,  9596600,  1135287, 17030830, 24293574,
        5106391,  8286798,  4902565, 27426966,   264341,  1676460,
       17996610,  1364189,  8286942,  7579214, 19572542,  6506494,
        9477894,  7826545, 14927816, 18949513,  7876128,  6475531,
       20211607,  4268481, 26475610, 14031603, 23204146, 10970822,
       23941368, 25407023,  7481391, 26033065,  4708889,  3544603,
         530857, 17445405,   269371, 10804733, 10528664,  7001647,
       22944965,  1615942, 12203499,  2710372,  1067085,    11879,
         645238, 23005826, 16986456,  7389911,  3550391, 18228255,
       11659923, 21206729, 17247215, 19827115, 18274764,    66119,
       13138651, 21926713,  1645172, 21737296, 24019856,  6272816,
       24942572,  9242011,   571115, 20799585,  2521327, 22079262,
       14475808,  9962672, 25298210,  8592609, 19142350, 11442093,
       22403752,  7397337,  2442776, 15322496, 26865877, 26336886,
        7811386,  7823069,  9805697,  8634099,  1995676,   720801,
          57031, 11089250,  7734880, 20461610, 18278072,    10832,
        6072767, 25805358, 11798814, 24310421, 12737555, 22466624,
        6447391, 22603366, 10632869,  6482511,  9097082,   413663,
        8155106, 19413538, 26671477,  2620371,  9048750, 25914423,
       17449584, 16545567,  2515292, 20522622,  7719365, 24649989,
        2310765, 11011129, 10996467, 25317523,  2804417, 11258529,
       16839850, 20365435,   715754, 16727547,  6287990,  1442755,
        5761415,  6020989,  8506934,   706286, 13771621,  5212418,
       20560534,  1645712,  1038324,  6916093, 12432084,  8926150,
        5154242, 21717294, 17029166,  1264430, 14698394, 13975443,
       15207940, 16898505,  4774742,  7180185,  3439173,  1925206,
       18771120,  1364787, 17237096, 13732535,  2931587,  2959856,
        4500244, 12913802,   593060,  3273482, 13298914, 20717189,
       23615447, 21399941,  1945508,  5335433,  3637609, 15551821,
        1701997,  5048831,   108535,  4174539, 20121980, 26307380,
        2501305, 14739372,  6676499, 24782776, 18143232,  1412799,
       26476595,  5354662,  6490623,  4097700,   925646, 12797680,
        9005789,   712426, 15718115,   437385, 12797002, 22176888,
       19098530, 14358722,  7027139, 19413966,  5932678,  9546252,
        5249098, 12324893, 25893502,  6453398,  1349898, 20478752,
       20069803, 12093517, 15446815,  5039986,  8865930,  8053292,
        2887719,   279037,  5958736, 16727690, 10768157,  1984709,
        5031745,  4318893, 21936873, 25084622,  8674455, 12736724,
       13614280, 16962560, 22847509,   387039,  4457662,  7900344,
        2791549, 22484318,  9901093,  8908249, 14697748,  1201404,
       21768899, 14806884, 10886231, 26100586,  1168338,  4053780,
        3225725, 20286264, 21503199, 17565098, 21123508, 24788146,
       17360895,  2587269, 14246901, 10773949,  7787513,  3360688,
       10825311,   504137, 25975627, 12432136, 23580835, 11041098,
        2919297, 21736508,  4902855, 14113236,   743297,  1043314,
        7389541,  7591031, 23091657, 10862977,  5751333, 24831670,
        8971307, 10140239, 23789809, 17794205, 19849892, 16620785,
          83553, 20500014,  1484136,   962126, 20709388, 15500119,
       15915784,  6119086, 18204951,  9524831,  9525911, 16727224,
          33578,  9926588,   215631, 13127880,  7305266,   164951,
        7949668, 10790717,  1321057,  2027943, 26818635,   334886,
       14553088, 22504534,  6691866, 24839902,  1614622,  3476601,
        1499843, 26334159,   900393,  8336822,   923807,  1659839,
       19164071, 13512158,  4454201, 23914311, 10538035, 17176878,
       10832838,  9414399, 11720074, 14268731, 24420688, 19752612,
        6934867,  5395253, 17406770,  2657854,  3301330,  6716133])

In [120]:
testing_ids = set(grp_by_listing_ids) - set (training_ids)
len(testing_ids)

284

In [121]:
X_train = X[X['listing_id'].isin(training_ids)].drop('listing_id', axis=1)
X_test = X[X['listing_id'].isin(testing_ids)].drop('listing_id', axis=1)
y_train = y[y['listing_id'].isin(training_ids)].drop('listing_id', axis=1).values.ravel()
y_test = y[y['listing_id'].isin(testing_ids)].drop('listing_id', axis=1).values.ravel()

print(len(X_train), len(X_test), len(y_train), len(y_test))

71568 23856 71568 23856

In [122]:
ss = StandardScaler()
X_train_trans = ss.fit_transform(X_train)
X_test_trans = ss.transform (X_test)

In [123]:
# Model-LR

model=sm.OLS(y_train, sm.add_constant(X_train_trans))
fit=model.fit()
fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.475
Model:                            OLS   Adj. R-squared:                  0.474
Method:                 Least Squares   F-statistic:                     1404.
Date:                Fri, 15 Feb 2019   Prob (F-statistic):               0.00
Time:                        23:34:47   Log-Likelihood:            -3.6753e+05
No. Observations:               71568   AIC:                         7.351e+05
Df Residuals:                   71521   BIC:                         7.356e+05
Df Model:                          46
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        135.7346      0.156    868.907      0.000     135.428     136.041
x1         -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x2         -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x3         -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x4         -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x5         -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x6         -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x7         -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x8         -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x9         -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x10        -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x11        -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x12        -4.823e+11   3.07e+12     -0.157      0.875   -6.49e+12    5.53e+12
x13         1.472e+12   6.56e+12      0.224      0.823   -1.14e+13    1.43e+13
x14         1.472e+12   6.56e+12      0.224      0.823   -1.14e+13    1.43e+13
x15         1.472e+12   6.56e+12      0.224      0.823   -1.14e+13    1.43e+13
x16         1.472e+12   6.56e+12      0.224      0.823   -1.14e+13    1.43e+13
x17         1.472e+12   6.56e+12      0.224      0.823   -1.14e+13    1.43e+13
x18         1.472e+12   6.56e+12      0.224      0.823   -1.14e+13    1.43e+13
x19         1.472e+12   6.56e+12      0.224      0.823   -1.14e+13    1.43e+13
x20           11.2099      0.218     51.508      0.000      10.783      11.636
x21            5.2482      0.188     27.944      0.000       4.880       5.616
x22           16.4571      0.215     76.410      0.000      16.035      16.879
x23           -1.4396      0.281     -5.124      0.000      -1.990      -0.889
x24           10.0298      0.709     14.138      0.000       8.639      11.420
x25           -1.3050      0.545     -2.395      0.017      -2.373      -0.237
x26           -2.5827      0.191    -13.523      0.000      -2.957      -2.208
x27           14.9466      0.320     46.666      0.000      14.319      15.574
x28           -0.8375      0.298     -2.815      0.005      -1.421      -0.254
x29            4.1191      0.222     18.542      0.000       3.684       4.554
x30           -1.8471      0.382     -4.833      0.000      -2.596      -1.098
x31           -0.5683      0.206     -2.763      0.006      -0.971      -0.165
x32            5.1689      0.186     27.802      0.000       4.805       5.533
x33           -1.3291      0.226     -5.869      0.000      -1.773      -0.885
x34            5.2560      0.381     13.792      0.000       4.509       6.003
x35           -4.8797      0.305    -15.976      0.000      -5.478      -4.281
x36           -2.9976      0.257    -11.678      0.000      -3.501      -2.495
x37           -2.7967      0.163    -17.206      0.000      -3.115      -2.478
x38            1.0247      0.204      5.031      0.000       0.625       1.424
x39            7.2273      0.441     16.394      0.000       6.363       8.091
x40            3.1382      0.166     18.943      0.000       2.814       3.463
x41            5.2260      0.179     29.214      0.000       4.875       5.577
x42           -7.6225      0.172    -44.274      0.000      -7.960      -7.285
x43           -1.4083      0.180     -7.837      0.000      -1.761      -1.056
x44            1.0789      0.176      6.137      0.000       0.734       1.423
x45            0.5988      0.165      3.620      0.000       0.275       0.923
x46            1.1590      0.793      1.462      0.144      -0.395       2.713
x47            1.2901      0.210      6.147      0.000       0.879       1.702
x48           -2.0450      0.178    -11.487      0.000      -2.394      -1.696
==============================================================================
Omnibus:                     4943.324   Durbin-Watson:                   0.048
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6049.199
Skew:                           0.682   Prob(JB):                         0.00
Kurtosis:                       3.410   Cond. No.                     2.15e+14
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.61e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [124]:
# Model-Random Forest

rf = RandomForestRegressor(n_estimators=500, 
                           criterion='mse', 
                           random_state=42, 
                           n_jobs=-1)
rf.fit(X_train_trans, y_train.ravel())

y_train_pred = rf.predict(X_train_trans)
y_test_pred = rf.predict(X_test_trans)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

MSE train: 1.428, test: 1694.647
R^2 train: 1.000, test: 0.414

In [ ]:
RMSE = 1043.202**0.5
RMSE

In [ ]:
df_final.listing_id.nunique()

In [ ]:
# Double check on price range. The range is as expected

y.describe(include='all')

In [ ]:
# Map feature importance with labels

feature_labels = X.columns
feature_tuples = zip (feature_labels, rf.feature_importances_)
feature_lists = [list(feature_tuple) for feature_tuple in feature_tuples]

In [ ]:
# Order features based on importance

feature_lists.sort(key=lambda x: abs(x[1]), reverse=True)
feature_lists

In [ ]:
features = [list_[0] for list_ in feature_lists]
features

In [ ]:
columns =['listing_id']
columns.extend(features)
columns.extend(['ref_district', 'ref_jurisdiction', 'price_by_month_week'])

In [ ]:
df_data = df_final[columns]
df_data.head()

In [ ]:
df_data.shape

In [ ]:
df_data.rename(columns={'price_by_month_week':'price'}, inplace=True)

In [ ]:
df_data.isnull().sum()

In [ ]:
temp_df = df_data[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']].copy()

days = temp_df.apply(lambda x: x.idxmax(), axis=1)
days

In [ ]:
csv_file = '/Users/xzhou/github/project_archives/files_airbnb/{}.csv'

csv_path = csv_file.format('airbnb_data')

df_data.to_csv(csv_path)

In [ ]:
# This is to create visual to show seasonality

df_visual = pd.merge(left=df_pricing_by_month_weekday, 
                    right=df_listings_reviews,
                    how='inner',
                    left_on='listing_id',
                    right_on='id')

In [ ]:
df_visual.shape

In [ ]:
df_visual.columns

In [ ]:
df_visual_entire_apartment = df_visual[df_visual['room_type_Entire home/apt']==1 ]
df_visual_single_room = df_visual[df_visual['room_type_Entire home/apt']!=1 ]

print(df_visual_entire_apartment.shape, df_visual_single_room.shape )

In [ ]:
df_visual_entire_apartment.ref_district.describe

In [ ]:
df_visual_entire_apartment_sf = df_visual_entire_apartment[df_visual_entire_apartment['ref_district']=='San Francisco']
df_visual_entire_apartment_scz = df_visual_entire_apartment[df_visual_entire_apartment['ref_district']=='Santa Clara']

print(df_visual_entire_apartment_sf.shape, df_visual_entire_apartment_scz.shape )

In [ ]:
df_visual_entire_apartment_sf.id.nunique()

In [ ]:
df_visual_entire_apartment_scz.id.nunique()

In [ ]:
# Weekly pattern for entire apartment

df_week_entire_apartment = df_visual_entire_apartment.groupby(['ref_district', 'day_of_week'])  \
                                                     .price_by_month_week.mean()
df_week_entire_apartment

In [ ]:
# Weekly pattern for single room

df_week_single_room = df_visual_single_room.groupby(['ref_district', 'day_of_week'])  \
                                           .price_by_month_week.mean()
df_week_single_room

In [ ]:
# Montly Pattern for entire apartment

df_visual_entire_apartment.groupby(['ref_district', 'month']).price_by_month_week.mean()

In [ ]:
# Montly Pattern for single room

df_visual_single_room.groupby(['ref_district', 'month']).price_by_month_week.mean()