In [71]:
import pandas as pd
import csv
import re
import statsmodels.api as sm
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np

from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GroupShuffleSplit
from sklearn.ensemble import RandomForestRegressor

In [4]:
file_url = '/Users/xzhou/github/project_archives/files_airbnb/{}/calendar.csv'

sf_file = file_url.format('sf_airbnb')
ok_file = file_url.format('ok_airbnb')
sc_file = file_url.format('sc_airbnb')
scz_file = file_url.format('scz_airbnb')

In [5]:
pricing_sf = pd.read_csv(sf_file, parse_dates=['date'])
pricing_ok = pd.read_csv(ok_file, parse_dates=['date'])
pricing_sc = pd.read_csv(sc_file, parse_dates=['date'])
pricing_scz = pd.read_csv(scz_file, parse_dates=['date'])

In [6]:
print(pricing_sf.shape, pricing_ok.shape, pricing_sc.shape, pricing_scz.shape)

(2420680, 4) (1057770, 4) (2068820, 4) (573050, 4)

In [7]:
frames = [pricing_sf, pricing_ok, pricing_sc, pricing_scz]
keys = ['pricing_sf', 'pricing_ok', 'pricing_sc', 'pricing_scz']

In [8]:
df_pricing = pd.concat(frames, keys=keys)

In [9]:
df_pricing.listing_id.nunique()

16768

In [10]:
df_pricing.head(20)

               listing_id       date available price
pricing_sf 0          958 2019-08-05         f   NaN
           1          958 2019-08-04         f   NaN
           2          958 2019-08-03         f   NaN
           3          958 2019-08-02         f   NaN
           4          958 2019-08-01         f   NaN
           5          958 2019-07-31         f   NaN
           6          958 2019-07-30         f   NaN
           7          958 2019-07-29         f   NaN
           8          958 2019-07-28         f   NaN
           9          958 2019-07-27         f   NaN
           10         958 2019-07-26         f   NaN
           11         958 2019-07-25         f   NaN
           12         958 2019-07-24         f   NaN
           13         958 2019-07-23         f   NaN
           14         958 2019-07-22         f   NaN
           15         958 2019-07-21         f   NaN
           16         958 2019-07-20         f   NaN
           17         958 2019-07-19         f   NaN
           18         958 2019-07-18         f   NaN
           19         958 2019-07-17         f   NaN

In [11]:
# Filter down to houses that are available and have listing prices

df_pricing_smaller = df_pricing[df_pricing['available']=='t']
df_pricing_smaller = df_pricing_smaller.copy()

In [12]:
df_pricing_smaller.shape

(2853357, 4)

In [13]:
df_pricing_smaller.listing_id.nunique()

14770

In [14]:
df_pricing_smaller.date.describe(include='all')

count                 2853357
unique                    389
top       2018-11-03 00:00:00
freq                    10393
first     2018-08-06 00:00:00
last      2019-08-29 00:00:00
Name: date, dtype: object

In [15]:
df_pricing_smaller.columns

Index(['listing_id', 'date', 'available', 'price'], dtype='object')

In [16]:
def currency_to_float(string):
    """
    Convert currency to float
    """
    float_ = float(str(string).strip('$').replace(',',''))
    return float_

In [17]:
# Convert price to float format

df_pricing_smaller['price'] = df_pricing_smaller['price'].apply(lambda x: currency_to_float(x))

In [18]:
# Add a month column based on date

df_pricing_smaller['month'] = df_pricing_smaller['date'].dt.month

In [19]:
# Add a day_of_week column based on Date. Use default format: Monday=0, Sunday=6

df_pricing_smaller['day_of_week'] = df_pricing_smaller['date'].dt.weekday

In [20]:
df_pricing_smaller.head()

               listing_id       date available  price  month  day_of_week
pricing_sf 63         958 2019-05-02         t  181.0      5            3
           64         958 2019-05-01         t  181.0      5            2
           65         958 2019-04-30         t  181.0      4            1
           66         958 2019-04-29         t  181.0      4            0
           67         958 2019-04-28         t  181.0      4            6

In [21]:
df_pricing_smaller.shape

(2853357, 6)

In [22]:
df_pricing_smaller.describe(include ='all')

,listing_id,date,available,price,month,day_of_week
count,2.853357e+06,2853357,2853357,2.853357e+06,2.853357e+06,2.853357e+06
unique,NaN,389,1,NaN,NaN,NaN
top,NaN,2018-11-03 00:00:00,t,NaN,NaN,NaN
freq,NaN,10393,2853357,NaN,NaN,NaN
first,NaN,2018-08-06 00:00:00,NaN,NaN,NaN,NaN
last,NaN,2019-08-29 00:00:00,NaN,NaN,NaN,NaN
mean,1.405523e+07,NaN,NaN,2.132333e+02,6.571592e+00,2.988646e+00
std,8.563144e+06,NaN,NaN,7.035042e+02,3.629179e+00,2.003061e+00
min,9.580000e+02,NaN,NaN,1.000000e+01,1.000000e+00,0.000000e+00
25%,6.453774e+06,NaN,NaN,8.000000e+01,3.000000e+00,1.000000e+00
50%,1.469887e+07,NaN,NaN,1.350000e+02,7.000000e+00,3.000000e+00
75%,2.164699e+07,NaN,NaN,2.250000e+02,1.000000e+01,5.000000e+00
max,2.815247e+07,NaN,NaN,1.024520e+05,1.200000e+01,6.000000e+00

In [23]:
# Count how many months each house was listed in the last year

df_month_count = df_pricing_smaller.groupby(['listing_id']).month.nunique().reset_index()
df_month_count.rename(columns={'month':'month_count'}, inplace=True)
df_month_count.head()

   listing_id  month_count
0         958           10
1        3083            5
2        3264            3
3        5739            2
4        5858           12

In [24]:
# Count how many days of week each house was listed in the last year

df_day_of_week_count = df_pricing_smaller.groupby(['listing_id']).day_of_week.nunique().reset_index()
df_day_of_week_count.rename(columns={'day_of_week':'day_of_week_count'}, inplace=True)
df_day_of_week_count.head()

   listing_id  day_of_week_count
0         958                  7
1        3083                  7
2        3264                  7
3        5739                  7
4        5858                  7

In [25]:
df_pricing_with_counts = pd.merge(left=df_pricing_smaller, 
                                  right=df_month_count,
                                  how='left', 
                                  left_on='listing_id', 
                                  right_on='listing_id')
df_pricing_with_counts.head()

   listing_id       date available  price  month  day_of_week  month_count
0         958 2019-05-02         t  181.0      5            3           10
1         958 2019-05-01         t  181.0      5            2           10
2         958 2019-04-30         t  181.0      4            1           10
3         958 2019-04-29         t  181.0      4            0           10
4         958 2019-04-28         t  181.0      4            6           10

In [26]:
df_pricing_with_counts = pd.merge(left=df_pricing_with_counts, 
                                  right=df_day_of_week_count,
                                  how='left', 
                                  left_on='listing_id', 
                                  right_on='listing_id')
df_pricing_with_counts.head()

,listing_id,date,available,price,month,day_of_week,month_count,day_of_week_count
0,958,2019-05-02,t,181.0,5,3,10,7
1,958,2019-05-01,t,181.0,5,2,10,7
2,958,2019-04-30,t,181.0,4,1,10,7
3,958,2019-04-29,t,181.0,4,0,10,7
4,958,2019-04-28,t,181.0,4,6,10,7

In [27]:
df_pricing_with_counts.describe(include='all')

,listing_id,date,available,price,month,day_of_week,month_count,day_of_week_count
count,2.853357e+06,2853357,2853357,2.853357e+06,2.853357e+06,2.853357e+06,2.853357e+06,2.853357e+06
unique,NaN,389,1,NaN,NaN,NaN,NaN,NaN
top,NaN,2018-11-03 00:00:00,t,NaN,NaN,NaN,NaN,NaN
freq,NaN,10393,2853357,NaN,NaN,NaN,NaN,NaN
first,NaN,2018-08-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2019-08-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.405523e+07,NaN,NaN,2.132333e+02,6.571592e+00,2.988646e+00,1.020866e+01,6.995392e+00
std,8.563144e+06,NaN,NaN,7.035042e+02,3.629179e+00,2.003061e+00,2.696574e+00,1.206497e-01
min,9.580000e+02,NaN,NaN,1.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,6.453774e+06,NaN,NaN,8.000000e+01,3.000000e+00,1.000000e+00,9.000000e+00,7.000000e+00
50%,1.469887e+07,NaN,NaN,1.350000e+02,7.000000e+00,3.000000e+00,1.200000e+01,7.000000e+00
75%,2.164699e+07,NaN,NaN,2.250000e+02,1.000000e+01,5.000000e+00,1.200000e+01,7.000000e+00
max,2.815247e+07,NaN,NaN,1.024520e+05,1.200000e+01,6.000000e+00,1.200000e+01,7.000000e+00

In [28]:
df_pricing_with_counts.price.describe(percentiles=[0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95])

count    2.853357e+06
mean     2.132333e+02
std      7.035042e+02
min      1.000000e+01
5%       4.100000e+01
10%      5.400000e+01
25%      8.000000e+01
50%      1.350000e+02
75%      2.250000e+02
90%      3.850000e+02
95%      5.500000e+02
max      1.024520e+05
Name: price, dtype: float64

In [29]:
# Remove outliers for pricing. Use 5% and 95% percentiles as cutoff

df_pricing_with_counts = df_pricing_with_counts[(df_pricing_with_counts.price>=40)
                                                & (df_pricing_with_counts.price<=550)]

In [30]:
df_pricing_with_counts.shape

(2599154, 8)

In [31]:
# Drill down to houses that price available in 12 months and 7 days a week

df_pricing_available = df_pricing_with_counts[
                                              (df_pricing_with_counts['month_count']==12)
                                              & (df_pricing_with_counts['day_of_week_count']==7)
                                             ]

In [32]:
df_pricing_available.shape

(1497091, 8)

In [33]:
df_pricing_available.price.describe()

count    1.497091e+06
mean     1.652814e+02
std      1.077519e+02
min      4.000000e+01
25%      8.500000e+01
50%      1.350000e+02
75%      2.130000e+02
max      5.500000e+02
Name: price, dtype: float64

In [34]:
df_pricing_available.isnull().sum()

listing_id           0
date                 0
available            0
price                0
month                0
day_of_week          0
month_count          0
day_of_week_count    0
dtype: int64

In [35]:
# Group by month by weekday, and calculate an average pricing

df_pricing_by_month_weekday = df_pricing_available.groupby(['listing_id', 'month', 'day_of_week']) \
                              .price.mean()  \
                              .reset_index()
df_pricing_by_month_weekday.head()

   listing_id  month  day_of_week  price
0        5858      1            0  235.0
1        5858      1            1  235.0
2        5858      1            2  235.0
3        5858      1            3  235.0
4        5858      1            4  235.0

In [36]:
df_pricing_by_month_weekday.describe(include='all')

         listing_id          month    day_of_week          price
count  3.708570e+05  370857.000000  370857.000000  370857.000000
mean   1.350731e+07       6.455588       3.004762     165.770394
std    8.696651e+06       3.462933       2.003016     107.889496
min    5.858000e+03       1.000000       0.000000      40.000000
25%    5.632672e+06       3.000000       1.000000      85.000000
50%    1.378224e+07       6.000000       3.000000     135.000000
75%    2.126187e+07      10.000000       5.000000     215.000000
max    2.815247e+07      12.000000       6.000000     550.000000

In [37]:
# Check for null values if any

df_pricing_by_month_weekday.isnull().sum()

listing_id     0
month          0
day_of_week    0
price          0
dtype: int64

In [38]:
# Rename the average price column to avoid confusion

df_pricing_by_month_weekday.rename(columns={'price':'price_by_month_week'}, inplace=True)

In [39]:
df_pricing_by_month_weekday.shape

(370857, 4)

In [40]:
def get_month(number):
    """
    Given a number, return the name of month.
    
    """
    month_lookup = {1:'Jan.', 2:'Feb.', 3:'Mar.', 4:'Apr.', 5:'May.', 6:'Jun.',
                    7:'Jul.', 8:'Aug.', 9:'Sep.', 10:'Oct.', 11:'Nov.', 12:'Dec.'}
    
    return month_lookup[number]

In [41]:
def get_weekdays(number):
    """
    Given a number, return the name of month.
    
    """
    weekday_lookup = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 
                      4:'Friday', 5:'Saturday', 6:'Sunday'}
    
    return weekday_lookup[number]

In [42]:
df_pricing_by_month_weekday['month'] = df_pricing_by_month_weekday['month']  \
                                       .apply(lambda x: get_month(x))

In [43]:
df_pricing_by_month_weekday['day_of_week'] = df_pricing_by_month_weekday['day_of_week']  \
                                             .apply(lambda x: get_weekdays(x))

In [57]:
# This is to create visual to show seasonality

df_visual = pd.merge(left=df_pricing_by_month_weekday, 
                    right=df_listings_reviews,
                    how='inner',
                    left_on='listing_id',
                    right_on='id')

In [58]:
df_visual.shape

(245629, 37)

In [59]:
df_visual.columns

Index(['listing_id', 'month', 'day_of_week', 'price_by_month_week', 'id',
       'bedrooms', 'cleaning_fee', 'room_type_Entire home/apt',
       'reviews_per_month', 'city_San Francisco', 'city_Oakland', 'bathrooms',
       'accommodates', 'number_of_reviews', 'host_listings_count',
       'review_scores_rating_log10', 'host_yrs', 'guests_included',
       'calculated_host_listings_count', 'review_scores_location_log10',
       'beds', 'yrs_since_first_review', 'host_response_rate',
       'amenities_Air conditioning', 'review_scores_value_log10',
       'jurisdiction_names_Santa Cruz County, CA', 'amenities_Cable TV',
       'neighbourhood_cleansed_Palo Alto', 'host_is_superhost_f',
       'amenities_Lock on bedroom door', 'amenities_Private entrance',
       'amenities_Familykid friendly', 'district_Santa Clara',
       'neighbourhood_cleansed_San Jose', 'host_identity_verified_f',
       'ref_district', 'ref_jurisdiction'],
      dtype='object')

In [60]:
df_visual_entire_apartment = df_visual[df_visual['room_type_Entire home/apt']==1 ]
df_visual_single_room = df_visual[df_visual['room_type_Entire home/apt']!=1 ]

print(df_visual_entire_apartment.shape, df_visual_single_room.shape )

(135866, 37) (109763, 37)

In [61]:
df_visual_entire_apartment.ref_district.describe

<bound method NDFrame.describe of 0         San Francisco
1         San Francisco
2         San Francisco
3         San Francisco
4         San Francisco
5         San Francisco
6         San Francisco
7         San Francisco
8         San Francisco
9         San Francisco
10        San Francisco
11        San Francisco
12        San Francisco
13        San Francisco
14        San Francisco
15        San Francisco
16        San Francisco
17        San Francisco
18        San Francisco
19        San Francisco
20        San Francisco
21        San Francisco
22        San Francisco
23        San Francisco
24        San Francisco
25        San Francisco
26        San Francisco
27        San Francisco
28        San Francisco
29        San Francisco
              ...
245599      Santa Clara
245600      Santa Clara
245601      Santa Clara
245602      Santa Clara
245603      Santa Clara
245604      Santa Clara
245605      Santa Clara
245606      Santa Clara
245607      Santa Clara
245608      Santa Clara
245609      Santa Clara
245610      Santa Clara
245611      Santa Clara
245612      Santa Clara
245613      Santa Clara
245614      Santa Clara
245615      Santa Clara
245616      Santa Clara
245617      Santa Clara
245618      Santa Clara
245619      Santa Clara
245620      Santa Clara
245621      Santa Clara
245622      Santa Clara
245623      Santa Clara
245624      Santa Clara
245625      Santa Clara
245626      Santa Clara
245627      Santa Clara
245628      Santa Clara
Name: ref_district, Length: 135866, dtype: object>

In [62]:
df_visual_entire_apartment_sf = df_visual_entire_apartment[df_visual_entire_apartment['ref_district']=='San Francisco']
df_visual_entire_apartment_scz = df_visual_entire_apartment[df_visual_entire_apartment['ref_district']=='Santa Clara']

print(df_visual_entire_apartment_sf.shape, df_visual_entire_apartment_scz.shape )

(56047, 37) (35034, 37)

In [63]:
df_visual_entire_apartment_sf.id.nunique()

695

In [64]:
df_visual_entire_apartment_scz.id.nunique()

422

In [66]:
# Weekly pattern for entire apartment

df_week_entire_apartment = df_visual_entire_apartment.groupby(['ref_district', 'day_of_week'])  \
                                                     .price_by_month_week.mean()
df_week_entire_apartment

ref_district   day_of_week
Oakland        Friday         159.474027
               Monday         154.944938
               Saturday       159.725316
               Sunday         155.161974
               Thursday       155.060959
               Tuesday        154.571370
               Wednesday      154.744414
San Francisco  Friday         211.870899
               Monday         204.897288
               Saturday       211.966729
               Sunday         205.295141
               Thursday       204.853625
               Tuesday        205.165253
               Wednesday      205.049197
Santa Clara    Friday         209.905996
               Monday         208.723240
               Saturday       209.942656
               Sunday         208.205175
               Thursday       209.189709
               Tuesday        209.198270
               Wednesday      209.493972
Santa Cruz     Friday         279.173827
               Monday         265.707357
               Saturday       280.419909
               Sunday         266.653638
               Thursday       265.329843
               Tuesday        265.339350
               Wednesday      265.592032
Name: price_by_month_week, dtype: float64

In [69]:
# Weekly pattern for single room

df_week_single_room = df_visual_single_room.groupby(['ref_district', 'day_of_week'])  \
                                           .price_by_month_week.mean()
df_week_single_room

ref_district   day_of_week
Oakland        Friday          77.408285
               Monday          75.695416
               Saturday        77.407270
               Sunday          75.643985
               Thursday        75.771951
               Tuesday         75.718651
               Wednesday       75.716536
San Francisco  Friday         121.290236
               Monday         115.501022
               Saturday       121.449297
               Sunday         115.908191
               Thursday       115.840256
               Tuesday        115.686374
               Wednesday      115.818529
Santa Clara    Friday          82.181104
               Monday          80.824664
               Saturday        82.253229
               Sunday          80.811711
               Thursday        80.821351
               Tuesday         80.761868
               Wednesday       80.724975
Santa Cruz     Friday         127.845906
               Monday         122.235648
               Saturday       128.892064
               Sunday         123.190817
               Thursday       122.751159
               Tuesday        121.899535
               Wednesday      121.920808
Name: price_by_month_week, dtype: float64

In [70]:
# Montly Pattern for entire apartment

df_visual_entire_apartment.groupby(['ref_district', 'month']).price_by_month_week.mean()

ref_district   month
Oakland        Apr.     158.153970
               Aug.     157.264184
               Dec.     153.305877
               Feb.     156.082218
               Jan.     153.080845
               Jul.     159.672266
               Jun.     159.677606
               Mar.     157.705606
               May.     159.250697
               Nov.     151.698238
               Oct.     151.726567
               Sep.     156.919118
San Francisco  Apr.     207.472221
               Aug.     209.898199
               Dec.     203.178067
               Feb.     207.013189
               Jan.     205.855001
               Jul.     209.035882
               Jun.     208.817503
               Mar.     207.347120
               May.     207.832853
               Nov.     202.567577
               Oct.     206.984157
               Sep.     208.986456
Santa Clara    Apr.     211.766231
               Aug.     208.364194
               Dec.     205.188419
               Feb.     210.138842
               Jan.     206.241129
               Jul.     214.093682
               Jun.     215.467367
               Mar.     212.893363
               May.     212.017283
               Nov.     203.628861
               Oct.     204.437419
               Sep.     206.146818
Santa Cruz     Apr.     270.031285
               Aug.     278.904073
               Dec.     264.985747
               Feb.     266.174305
               Jan.     263.962838
               Jul.     279.533961
               Jun.     279.025323
               Mar.     269.530300
               May.     270.359035
               Nov.     264.427710
               Oct.     260.387191
               Sep.     268.069659
Name: price_by_month_week, dtype: float64

In [71]:
# Montly Pattern for single room

df_visual_single_room.groupby(['ref_district', 'month']).price_by_month_week.mean()

ref_district   month
Oakland        Apr.      77.677205
               Aug.      76.846752
               Dec.      74.175045
               Feb.      76.617210
               Jan.      74.548583
               Jul.      77.792769
               Jun.      77.792769
               Mar.      77.669665
               May.      77.878307
               Nov.      73.508439
               Oct.      74.034876
               Sep.      75.448894
San Francisco  Apr.     118.221302
               Aug.     120.163396
               Dec.     112.868533
               Feb.     116.927029
               Jan.     114.475622
               Jul.     120.691553
               Jun.     120.156573
               Mar.     118.046094
               May.     119.168788
               Nov.     113.456209
               Oct.     116.937953
               Sep.     117.467900
Santa Clara    Apr.      82.440170
               Aug.      80.775148
               Dec.      79.769163
               Feb.      82.211255
               Jan.      81.786879
               Jul.      82.675175
               Jun.      82.683913
               Mar.      82.468199
               May.      82.565992
               Nov.      78.506909
               Oct.      79.098400
               Sep.      79.085351
Santa Cruz     Apr.     124.341615
               Aug.     130.347101
               Dec.     119.864622
               Feb.     122.551070
               Jan.     121.912266
               Jul.     130.271118
               Jun.     128.581366
               Mar.     123.483747
               May.     124.649689
               Nov.     120.632708
               Oct.     121.569343
               Sep.     120.051600
Name: price_by_month_week, dtype: float64

In [46]:
df_pricing_final = pd.get_dummies(df_pricing_by_month_weekday, 
                                  prefix='',
                                  prefix_sep='',
                                  columns=['month', 'day_of_week'])

In [47]:
df_pricing_final.columns

Index(['listing_id', 'price_by_month_week', 'Apr.', 'Aug.', 'Dec.', 'Feb.',
       'Jan.', 'Jul.', 'Jun.', 'Mar.', 'May.', 'Nov.', 'Oct.', 'Sep.',
       'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
       'Wednesday'],
      dtype='object')

In [48]:
df_pricing_final.shape

(370857, 21)

In [52]:
pkl_file = '/Users/xzhou/github/project_archives/files_airbnb/{}.pkl'

pkl_path = pkl_file.format('listings_with_selected_features')

df_listings_reviews = pd.read_pickle(pkl_path)
df_listings_reviews.head()

,id,bedrooms,cleaning_fee,room_type_Entire home/apt,reviews_per_month,city_San Francisco,city_Oakland,bathrooms,accommodates,number_of_reviews,...,neighbourhood_cleansed_Palo Alto,host_is_superhost_f,amenities_Lock on bedroom door,amenities_Private entrance,amenities_Familykid friendly,district_Santa Clara,neighbourhood_cleansed_San Jose,host_identity_verified_f,ref_district,ref_jurisdiction
0,958,1.0,2.00000,1,1.38,1,0,1.0,3,152,...,0,0,0,1,1,0,0,0,San Francisco,SAN FRANCISCO
1,5858,2.0,2.00000,1,0.99,1,0,1.0,5,112,...,0,1,0,1,1,0,0,0,San Francisco,SAN FRANCISCO
2,7918,1.0,1.69897,0,0.16,1,0,4.0,2,17,...,0,1,1,1,0,0,0,0,San Francisco,SAN FRANCISCO
3,8142,1.0,1.69897,0,0.15,1,0,4.0,2,7,...,0,1,1,1,1,0,0,0,San Francisco,SAN FRANCISCO
4,8567,2.0,2.09691,1,0.27,1,0,1.0,6,30,...,0,1,0,0,1,0,0,1,San Francisco,SAN FRANCISCO

In [53]:
df_listings_reviews.shape

(10352, 33)

In [54]:
df_final = pd.merge(left=df_pricing_final, 
                    right=df_listings_reviews,
                    how='inner',
                    left_on='listing_id',
                    right_on='id')

In [55]:
df_final.shape

(245629, 54)

In [56]:
df_final.isnull().sum()

listing_id                                  0
price_by_month_week                         0
Apr.                                        0
Aug.                                        0
Dec.                                        0
Feb.                                        0
Jan.                                        0
Jul.                                        0
Jun.                                        0
Mar.                                        0
May.                                        0
Nov.                                        0
Oct.                                        0
Sep.                                        0
Friday                                      0
Monday                                      0
Saturday                                    0
Sunday                                      0
Thursday                                    0
Tuesday                                     0
Wednesday                                   0
id                                          0
bedrooms                                    0
cleaning_fee                                0
room_type_Entire home/apt                   0
reviews_per_month                           0
city_San Francisco                          0
city_Oakland                                0
bathrooms                                   0
accommodates                                0
number_of_reviews                           0
host_listings_count                         0
review_scores_rating_log10                  0
host_yrs                                    0
guests_included                             0
calculated_host_listings_count              0
review_scores_location_log10                0
beds                                        0
yrs_since_first_review                      0
host_response_rate                          0
amenities_Air conditioning                  0
review_scores_value_log10                   0
jurisdiction_names_Santa Cruz County, CA    0
amenities_Cable TV                          0
neighbourhood_cleansed_Palo Alto            0
host_is_superhost_f                         0
amenities_Lock on bedroom door              0
amenities_Private entrance                  0
amenities_Familykid friendly                0
district_Santa Clara                        0
neighbourhood_cleansed_San Jose             0
host_identity_verified_f                    0
ref_district                                0
ref_jurisdiction                            0
dtype: int64

In [50]:
df_final.shape

(245629, 54)

In [52]:
df_final.columns

Index(['listing_id', 'price_by_month_week', 'Apr.', 'Aug.', 'Dec.', 'Feb.',
       'Jan.', 'Jul.', 'Jun.', 'Mar.', 'May.', 'Nov.', 'Oct.', 'Sep.',
       'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
       'Wednesday', 'id', 'bedrooms', 'cleaning_fee',
       'room_type_Entire home/apt', 'reviews_per_month', 'city_San Francisco',
       'city_Oakland', 'bathrooms', 'accommodates', 'number_of_reviews',
       'host_listings_count', 'review_scores_rating_log10', 'host_yrs',
       'guests_included', 'calculated_host_listings_count',
       'review_scores_location_log10', 'beds', 'yrs_since_first_review',
       'host_response_rate', 'amenities_Air conditioning',
       'review_scores_value_log10', 'jurisdiction_names_Santa Cruz County, CA',
       'amenities_Cable TV', 'neighbourhood_cleansed_Palo Alto',
       'host_is_superhost_f', 'amenities_Lock on bedroom door',
       'amenities_Private entrance', 'amenities_Familykid friendly',
       'district_Santa Clara', 'neighbourhood_cleansed_San Jose',
       'host_identity_verified_f', 'ref_district', 'ref_jurisdiction'],
      dtype='object')

In [53]:
# Drop duplicate columns

df_final.drop(['id'], axis=1, inplace=True)

In [54]:
df_final.shape

(245629, 53)

In [55]:
# Create correlation matrix
corr_matrix = df_final.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.90
to_drop = [column for column in upper.columns if any(upper[column] > 0.90)]

to_drop

[]

In [56]:
# Drop features that have high correlation

df_final.drop(to_drop, axis=1, inplace=True)

In [57]:
df_final.shape

(245629, 53)

In [58]:
pkl_file = '/Users/xzhou/github/project_archives/files_airbnb/{}.pkl'
pkl_path = pkl_file.format('listings_seasonality')

try: 
    with open(pkl_path, 'rb') as file:
        df_final = pd.read_pickle(file)
except:
    with open(pkl_path, 'wb') as file:
        pd.to_pickle(df_final, file)

In [108]:
# Perform multiple modeling for price prediction

X = df_final.drop(['price_by_month_week', 'ref_district', 'ref_jurisdiction'], axis=1)
y = df_final.loc[:, ['listing_id', 'price_by_month_week']]

In [77]:
grp_by_listing_ids = df_final.groupby('listing_id').first().reset_index().listing_id

In [100]:
num_of_grps = len(grp_by_listing_ids)

training_ids = np.random.choice(listing_ids, int(num_of_grps*0.75), replace=False)
print(len(training_ids))
training_ids

2254

array([13618517, 24839902, 14310743, ..., 24808372, 12012121, 15500119])

In [91]:
testing_ids = set(grp_by_listing_ids) - set (training_ids)
len(testing_ids)

752

In [129]:
X_train = X[X['listing_id'].isin(training_ids)].drop('listing_id', axis=1)
X_test = X[X['listing_id'].isin(testing_ids)].drop('listing_id', axis=1)
y_train = y[y['listing_id'].isin(training_ids)].drop('listing_id', axis=1).values.ravel()
y_test = y[y['listing_id'].isin(testing_ids)].drop('listing_id', axis=1).values.ravel()

print(len(X_train), len(X_test), len(y_train), len(y_test))

184229 61188 184229 61188

In [130]:
ss = StandardScaler()
X_train_trans = ss.fit_transform(X_train)
X_test_trans = ss.transform (X_test)

In [131]:
# Model-LR

model=sm.OLS(y_train, sm.add_constant(X_train_trans))
fit=model.fit()
fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.616
Model:                            OLS   Adj. R-squared:                  0.616
Method:                 Least Squares   F-statistic:                     5916.
Date:                Wed, 19 Sep 2018   Prob (F-statistic):               0.00
Time:                        16:17:29   Log-Likelihood:            -1.0274e+06
No. Observations:              184229   AIC:                         2.055e+06
Df Residuals:                  184178   BIC:                         2.055e+06
Df Model:                          50
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        159.4184      0.149   1070.019      0.000     159.126     159.710
x1           1.64e+11   5.15e+11      0.319      0.750   -8.45e+11    1.17e+12
x2          1.597e+11   5.01e+11      0.319      0.750   -8.23e+11    1.14e+12
x3          1.633e+11   5.13e+11      0.319      0.750   -8.41e+11    1.17e+12
x4           1.64e+11   5.15e+11      0.319      0.750   -8.45e+11    1.17e+12
x5          1.637e+11   5.14e+11      0.319      0.750   -8.43e+11    1.17e+12
x6          1.636e+11   5.14e+11      0.319      0.750   -8.43e+11    1.17e+12
x7          1.638e+11   5.14e+11      0.319      0.750   -8.44e+11    1.17e+12
x8           1.64e+11   5.15e+11      0.319      0.750   -8.45e+11    1.17e+12
x9           1.64e+11   5.15e+11      0.319      0.750   -8.45e+11    1.17e+12
x10         1.625e+11    5.1e+11      0.319      0.750   -8.37e+11    1.16e+12
x11         1.603e+11   5.03e+11      0.319      0.750   -8.26e+11    1.15e+12
x12         1.526e+11   4.79e+11      0.319      0.750   -7.86e+11    1.09e+12
x13         -2.64e+11   2.39e+12     -0.111      0.912   -4.94e+12    4.41e+12
x14         -2.65e+11   2.39e+12     -0.111      0.912   -4.96e+12    4.43e+12
x15        -2.639e+11   2.39e+12     -0.111      0.912   -4.94e+12    4.41e+12
x16        -2.654e+11    2.4e+12     -0.111      0.912   -4.97e+12    4.44e+12
x17        -2.647e+11   2.39e+12     -0.111      0.912   -4.95e+12    4.42e+12
x18        -2.632e+11   2.38e+12     -0.111      0.912   -4.92e+12     4.4e+12
x19        -2.632e+11   2.38e+12     -0.111      0.912   -4.93e+12     4.4e+12
x20           -5.1178      0.361    -14.158      0.000      -5.826      -4.409
x21           28.2447      0.256    110.292      0.000      27.743      28.747
x22            4.9841      0.184     27.095      0.000       4.624       5.345
x23           25.0075      0.207    121.042      0.000      24.603      25.412
x24           -9.8947      0.269    -36.768      0.000     -10.422      -9.367
x25           22.2547      0.825     26.986      0.000      20.638      23.871
x26           -0.7180      0.580     -1.237      0.216      -1.856       0.420
x27           -0.1290      0.174     -0.742      0.458      -0.470       0.212
x28           33.3658      0.339     98.450      0.000      32.702      34.030
x29           -2.4904      0.296     -8.425      0.000      -3.070      -1.911
x30            5.9669      0.215     27.716      0.000       5.545       6.389
x31           -7.0406      0.382    -18.444      0.000      -7.789      -6.292
x32           -0.7074      0.199     -3.558      0.000      -1.097      -0.318
x33            3.5967      0.191     18.878      0.000       3.223       3.970
x34           -9.8342      0.220    -44.736      0.000     -10.265      -9.403
x35           14.2255      0.359     39.584      0.000      13.521      14.930
x36           -6.8342      0.304    -22.504      0.000      -7.429      -6.239
x37           -8.9122      0.355    -25.095      0.000      -9.608      -8.216
x38            0.5620      0.158      3.565      0.000       0.253       0.871
x39            8.6707      0.194     44.742      0.000       8.291       9.051
x40           -2.5913      0.364     -7.116      0.000      -3.305      -1.878
x41           20.9901      0.577     36.370      0.000      19.859      22.121
x42            4.6322      0.163     28.442      0.000       4.313       4.951
x43            8.1257      0.174     46.809      0.000       7.785       8.466
x44           -8.8342      0.168    -52.524      0.000      -9.164      -8.505
x45            1.5000      0.174      8.617      0.000       1.159       1.841
x46           -2.7004      0.165    -16.340      0.000      -3.024      -2.376
x47            1.9324      0.168     11.485      0.000       1.603       2.262
x48            1.2673      0.806      1.572      0.116      -0.313       2.847
x49           -2.1807      0.212    -10.283      0.000      -2.596      -1.765
x50           -1.5883      0.171     -9.299      0.000      -1.923      -1.254
==============================================================================
Omnibus:                    42360.280   Durbin-Watson:                   0.066
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           149264.804
Skew:                           1.138   Prob(JB):                         0.00
Kurtosis:                       6.777   Cond. No.                     8.68e+13
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.02e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [133]:
# Model-Random Forest

rf = RandomForestRegressor(n_estimators=500, 
                           criterion='mse', 
                           random_state=42, 
                           n_jobs=-1)
rf.fit(X_train_trans, y_train.ravel())

y_train_pred = rf.predict(X_train_trans)
y_test_pred = rf.predict(X_test_trans)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

MSE train: 5.611, test: 1043.202
R^2 train: 0.999, test: 0.900

In [135]:
RMSE = 1043.202**0.5
RMSE

32.29863774217111

In [69]:
df_final.listing_id.nunique()

3006

In [70]:
# Double check on price range. The range is as expected

y.describe(include='all')

count    245629.000000
mean        161.184664
std         104.196466
min          40.000000
25%          85.000000
50%         129.000000
75%         210.000000
max         550.000000
Name: price_by_month_week, dtype: float64

In [71]:
# Map feature importance with labels

feature_labels = X.columns
feature_tuples = zip (feature_labels, rf.feature_importances_)
feature_lists = [list(feature_tuple) for feature_tuple in feature_tuples]

In [72]:
# Order features based on importance

feature_lists.sort(key=lambda x: abs(x[1]), reverse=True)
feature_lists

[['bedrooms', 0.4156324736485746],
 ['cleaning_fee', 0.07034290324560516],
 ['room_type_Entire home/apt', 0.06705745536425838],
 ['accommodates', 0.061629916824698594],
 ['reviews_per_month', 0.04828570528371509],
 ['host_listings_count', 0.04310400183024202],
 ['number_of_reviews', 0.030599769313474728],
 ['bathrooms', 0.026573235736360914],
 ['review_scores_rating_log10', 0.02514303952043061],
 ['calculated_host_listings_count', 0.02201171941033038],
 ['host_yrs', 0.01789310282225505],
 ['city_San Francisco', 0.017425373050930167],
 ['host_response_rate', 0.01506220643000437],
 ['yrs_since_first_review', 0.011552273510368243],
 ['guests_included', 0.010881599402600497],
 ['jurisdiction_names_Santa Cruz County, CA', 0.010464262456094046],
 ['beds', 0.009429364298248035],
 ['city_Oakland', 0.009412498980338828],
 ['host_is_superhost_f', 0.008795707369316634],
 ['host_identity_verified_f', 0.007822633962941604],
 ['review_scores_location_log10', 0.0075009318936435695],
 ['review_scores_value_log10', 0.007478134776576773],
 ['amenities_Cable TV', 0.006223694182691581],
 ['amenities_Lock on bedroom door', 0.004591747159883562],
 ['amenities_Familykid friendly', 0.004489138653436457],
 ['amenities_Air conditioning', 0.004274463569205315],
 ['neighbourhood_cleansed_San Jose', 0.003958643101365988],
 ['amenities_Private entrance', 0.0036910325667132045],
 ['Saturday', 0.003687499867281508],
 ['Friday', 0.0036836220108917967],
 ['Sep.', 0.002252284096394991],
 ['Nov.', 0.0021414787588232152],
 ['neighbourhood_cleansed_Palo Alto', 0.0021231912123304696],
 ['Dec.', 0.002007861350659765],
 ['Oct.', 0.0020059908539035486],
 ['Aug.', 0.0020022770980949525],
 ['Jul.', 0.001752299242803867],
 ['Jun.', 0.0016384936151919726],
 ['district_Santa Clara', 0.0014611741010273935],
 ['Jan.', 0.001155432454700609],
 ['May.', 0.0006815512488232485],
 ['Feb.', 0.0004105828819614383],
 ['Mar.', 0.000378529578341488],
 ['Apr.', 0.00036953138505956386],
 ['Sunday', 0.00028094931366532305],
 ['Tuesday', 0.00016756069994195477],
 ['Thursday', 0.0001652562783552092],
 ['Monday', 0.0001560006563493619],
 ['Wednesday', 0.00015140493109366577]]

In [73]:
features = [list_[0] for list_ in feature_lists]
features

['bedrooms',
 'cleaning_fee',
 'room_type_Entire home/apt',
 'accommodates',
 'reviews_per_month',
 'host_listings_count',
 'number_of_reviews',
 'bathrooms',
 'review_scores_rating_log10',
 'calculated_host_listings_count',
 'host_yrs',
 'city_San Francisco',
 'host_response_rate',
 'yrs_since_first_review',
 'guests_included',
 'jurisdiction_names_Santa Cruz County, CA',
 'beds',
 'city_Oakland',
 'host_is_superhost_f',
 'host_identity_verified_f',
 'review_scores_location_log10',
 'review_scores_value_log10',
 'amenities_Cable TV',
 'amenities_Lock on bedroom door',
 'amenities_Familykid friendly',
 'amenities_Air conditioning',
 'neighbourhood_cleansed_San Jose',
 'amenities_Private entrance',
 'Saturday',
 'Friday',
 'Sep.',
 'Nov.',
 'neighbourhood_cleansed_Palo Alto',
 'Dec.',
 'Oct.',
 'Aug.',
 'Jul.',
 'Jun.',
 'district_Santa Clara',
 'Jan.',
 'May.',
 'Feb.',
 'Mar.',
 'Apr.',
 'Sunday',
 'Tuesday',
 'Thursday',
 'Monday',
 'Wednesday']

In [74]:
columns =['listing_id']
columns.extend(features)
columns.extend(['ref_district', 'ref_jurisdiction', 'price_by_month_week'])

In [76]:
df_data = df_final[columns]
df_data.head()

,listing_id,bedrooms,cleaning_fee,room_type_Entire home/apt,accommodates,reviews_per_month,host_listings_count,number_of_reviews,bathrooms,review_scores_rating_log10,...,Mar.,Apr.,Sunday,Tuesday,Thursday,Monday,Wednesday,ref_district,ref_jurisdiction,price_by_month_week
0,5858,2.0,2.0,1,5,0.99,2,112,1.0,1.991226,...,0,0,0,0,0,1,0,San Francisco,SAN FRANCISCO,235.0
1,5858,2.0,2.0,1,5,0.99,2,112,1.0,1.991226,...,0,0,0,1,0,0,0,San Francisco,SAN FRANCISCO,235.0
2,5858,2.0,2.0,1,5,0.99,2,112,1.0,1.991226,...,0,0,0,0,0,0,1,San Francisco,SAN FRANCISCO,235.0
3,5858,2.0,2.0,1,5,0.99,2,112,1.0,1.991226,...,0,0,0,0,1,0,0,San Francisco,SAN FRANCISCO,235.0
4,5858,2.0,2.0,1,5,0.99,2,112,1.0,1.991226,...,0,0,0,0,0,0,0,San Francisco,SAN FRANCISCO,235.0

In [77]:
df_data.shape

(245629, 53)

In [78]:
df_data.rename(columns={'price_by_month_week':'price'}, inplace=True)

In [79]:
df_data.isnull().sum()

listing_id                                  0
bedrooms                                    0
cleaning_fee                                0
room_type_Entire home/apt                   0
accommodates                                0
reviews_per_month                           0
host_listings_count                         0
number_of_reviews                           0
bathrooms                                   0
review_scores_rating_log10                  0
calculated_host_listings_count              0
host_yrs                                    0
city_San Francisco                          0
host_response_rate                          0
yrs_since_first_review                      0
guests_included                             0
jurisdiction_names_Santa Cruz County, CA    0
beds                                        0
city_Oakland                                0
host_is_superhost_f                         0
host_identity_verified_f                    0
review_scores_location_log10                0
review_scores_value_log10                   0
amenities_Cable TV                          0
amenities_Lock on bedroom door              0
amenities_Familykid friendly                0
amenities_Air conditioning                  0
neighbourhood_cleansed_San Jose             0
amenities_Private entrance                  0
Saturday                                    0
Friday                                      0
Sep.                                        0
Nov.                                        0
neighbourhood_cleansed_Palo Alto            0
Dec.                                        0
Oct.                                        0
Aug.                                        0
Jul.                                        0
Jun.                                        0
district_Santa Clara                        0
Jan.                                        0
May.                                        0
Feb.                                        0
Mar.                                        0
Apr.                                        0
Sunday                                      0
Tuesday                                     0
Thursday                                    0
Monday                                      0
Wednesday                                   0
ref_district                                0
ref_jurisdiction                            0
price                                       0
dtype: int64

In [93]:
temp_df = df_data[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']].copy()

days = temp_df.apply(lambda x: x.idxmax(), axis=1)
days

0            Monday
1           Tuesday
2         Wednesday
3          Thursday
4            Friday
5          Saturday
6            Sunday
7            Monday
8           Tuesday
9         Wednesday
10         Thursday
11           Friday
12         Saturday
13           Sunday
14           Monday
15          Tuesday
16        Wednesday
17         Thursday
18           Friday
19         Saturday
20           Sunday
21           Monday
22          Tuesday
23        Wednesday
24         Thursday
25           Friday
26         Saturday
27           Sunday
28           Monday
29          Tuesday
            ...
245599     Saturday
245600       Sunday
245601       Monday
245602      Tuesday
245603    Wednesday
245604     Thursday
245605       Friday
245606     Saturday
245607       Sunday
245608       Monday
245609      Tuesday
245610    Wednesday
245611     Thursday
245612       Friday
245613     Saturday
245614       Sunday
245615       Monday
245616      Tuesday
245617    Wednesday
245618     Thursday
245619       Friday
245620     Saturday
245621       Sunday
245622       Monday
245623      Tuesday
245624    Wednesday
245625     Thursday
245626       Friday
245627     Saturday
245628       Sunday
Length: 245629, dtype: object

In [ ]:
csv_file = '/Users/xzhou/github/project_archives/files_airbnb/{}.csv'

csv_path = csv_file.format('airbnb_data')

df_data.to_csv(csv_path)