In [13]:
import pandas as pd
import csv
import statsmodels.api as sm
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [14]:
file_url = '/Users/xzhou/github/project_archives/files_airbnb/sea_airbnb/{}.csv'

listings_file = file_url.format('listings_details')
reviews_file = file_url.format('reviews_details')
calendar_file = file_url.format('calendar_details')

In [15]:
listings = pd.read_csv(listings_file, parse_dates=['last_scraped','host_since', 'first_review', 'last_review'])

In [16]:
listings.columns.values

array(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name',
       'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'thumbnail_url',
       'medium_url', 'picture_url', 'xl_picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode',
       'market', 'smart_location', 'country_code', 'country', 'latitude',
       'longitude', 'is_location_exact', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'requires_license', 'license', 'jurisdiction_names',
       'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture',
       'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype=object)

In [17]:
df = listings[["host_response_rate", "host_acceptance_rate", "host_is_superhost",
               "host_listings_count", "zipcode", "property_type","room_type", "accommodates", "bathrooms", "bedrooms", 
               "beds", "price", "number_of_reviews", "review_scores_rating", "cancellation_policy", 
               "reviews_per_month"]]

In [18]:
df.head()

,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,zipcode,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,number_of_reviews,review_scores_rating,cancellation_policy,reviews_per_month
0,96%,100%,f,3.0,98119,Apartment,Entire home/apt,4,1.0,1.0,1.0,$85.00,207,95.0,moderate,4.07
1,98%,100%,t,6.0,98119,Apartment,Entire home/apt,4,1.0,1.0,1.0,$150.00,43,96.0,strict,1.48
2,67%,100%,f,2.0,98119,House,Entire home/apt,11,4.5,5.0,7.0,$975.00,20,97.0,strict,1.15
3,NaN,NaN,f,1.0,98119,Apartment,Entire home/apt,3,1.0,0.0,2.0,$100.00,0,NaN,flexible,NaN
4,100%,NaN,f,2.0,98119,House,Entire home/apt,6,2.0,3.0,3.0,$450.00,38,92.0,strict,0.89

In [19]:
# % of NaN values
(len(df)-df.count())/len(df)*100

host_response_rate      13.698271
host_acceptance_rate    20.246202
host_is_superhost        0.052383
host_listings_count      0.052383
zipcode                  0.183342
property_type            0.026192
room_type                0.000000
accommodates             0.000000
bathrooms                0.419068
bedrooms                 0.157150
beds                     0.026192
price                    0.000000
number_of_reviews        0.000000
review_scores_rating    16.946045
cancellation_policy      0.000000
reviews_per_month       16.422211
dtype: float64

In [20]:
df = df.drop(['host_acceptance_rate'], axis=1)

In [21]:
# drop NaN rows
df2=df.dropna(axis=0)

In [22]:
# % of rows droppped
(len(df)-len(df2))/len(df)*100

25.720272393923523

In [23]:
df2.shape

(2836, 15)

In [24]:
pd.options.mode.chained_assignment = None  # default='warn'

df2['host_response_rate'] = df2['host_response_rate'].astype(str)
df2['price'] = df2['price'].astype(str)

In [25]:
# clean data
pd.options.mode.chained_assignment = None  # default='warn'

df2['price'] = df2['price'].str.replace("[$, ]", "").astype("float")
df2['host_response_rate'] = df2['host_response_rate'].str.replace("%", "").astype("float")

In [26]:
df2['superhost']=np.where(df2['host_is_superhost']=='t',1,0)
del df2['host_is_superhost']

In [27]:
a=[['3','b','c'],[0,'a','b'],[2,'a','a']]
a = pd.DataFrame(a, columns=['att1','att2','att3'])
a

  att1 att2 att3
0    3    b    c
1    0    a    b
2    2    a    a

In [28]:
columns =['att2', 'att3']

In [29]:
pd.get_dummies(a,columns=columns)

  att1  att2_a  att2_b  att3_a  att3_b  att3_c
0    3       0       1       0       0       1
1    0       1       0       0       1       0
2    2       1       0       1       0       0

In [30]:
# select non-numeric variables and create dummies
non_num_vars = df2.select_dtypes(include=['object']).columns
df2[non_num_vars].head()

  zipcode property_type        room_type cancellation_policy
0   98119     Apartment  Entire home/apt            moderate
1   98119     Apartment  Entire home/apt              strict
2   98119         House  Entire home/apt              strict
4   98119         House  Entire home/apt              strict
6   98119         House     Private room            moderate

In [31]:
dummy_vars = pd.get_dummies(df2[non_num_vars])

In [32]:
dummy_vars.head()

,zipcode_98101,zipcode_98102,zipcode_98103,zipcode_98104,zipcode_98105,zipcode_98106,zipcode_98107,zipcode_98108,zipcode_98109,zipcode_98112,...,property_type_Tent,property_type_Townhouse,property_type_Treehouse,property_type_Yurt,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [33]:
df4 = pd.get_dummies(df2, prefix=non_num_vars, columns=non_num_vars)
df4.shape

(2836, 61)

In [34]:
# drop non-numeric variables from df2 and add the dummies
df3=df2.drop(non_num_vars,axis=1)
df3 = pd.merge(df3,dummy_vars, left_index=True, right_index=True)
df3.head()

,host_response_rate,host_listings_count,accommodates,bathrooms,bedrooms,beds,price,number_of_reviews,review_scores_rating,reviews_per_month,...,property_type_Tent,property_type_Townhouse,property_type_Treehouse,property_type_Yurt,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict
0,96.0,3.0,4,1.0,1.0,1.0,85.0,207,95.0,4.07,...,0,0,0,0,1,0,0,0,1,0
1,98.0,6.0,4,1.0,1.0,1.0,150.0,43,96.0,1.48,...,0,0,0,0,1,0,0,0,0,1
2,67.0,2.0,11,4.5,5.0,7.0,975.0,20,97.0,1.15,...,0,0,0,0,1,0,0,0,0,1
4,100.0,2.0,6,2.0,3.0,3.0,450.0,38,92.0,0.89,...,0,0,0,0,1,0,0,0,0,1
6,100.0,1.0,2,1.0,1.0,1.0,80.0,58,99.0,2.46,...,0,0,0,0,0,1,0,0,1,0

In [36]:
df3.shape

(2836, 61)

In [41]:
# split into test and training data
np.random.seed(1)
indices = np.random.permutation(len(df4))
train_size = int(round(0.8*len(df4)))
test_size = len(df4)-train_size

y = df4['price']
x = df4.drop('price', axis =1)

x.train = x.iloc[indices[0:train_size]]
y.train = y.iloc[indices[0:train_size]]
x.test = x.iloc[indices[train_size+1:]]
y.test = y.iloc[indices[train_size+1:]]

x2 = x.train.as_matrix()
y2 = y.train.as_matrix()

/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  # Remove the CWD from sys.path while we load stuff.
/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  if sys.path[0] == '':
/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  from ipykernel import kernelapp as app
/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  app.launch_new_instance()

In [42]:
import statsmodels.api as sm
olsmod = sm.OLS(y2,x2)
olsres = olsmod.fit()
print(olsres.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.645
Method:                 Least Squares   F-statistic:                     74.45
Date:                Sat, 15 Sep 2018   Prob (F-statistic):               0.00
Time:                        21:57:42   Log-Likelihood:                -12082.
No. Observations:                2269   AIC:                         2.428e+04
Df Residuals:                    2212   BIC:                         2.460e+04
Df Model:                          56
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.3402      0.097     -3.520      0.000      -0.530      -0.151
x2            -0.0506      0.043     -1.172      0.241      -0.135       0.034
x3             7.7724      1.250      6.216      0.000       5.320      10.224
x4            30.6555      2.451     12.508      0.000      25.849      35.462
x5            28.3225      2.292     12.356      0.000      23.827      32.818
x6             3.2370      1.951      1.659      0.097      -0.588       7.062
x7            -0.0471      0.032     -1.495      0.135      -0.109       0.015
x8             0.2831      0.178      1.588      0.112      -0.067       0.633
x9            -3.1610      0.727     -4.351      0.000      -4.586      -1.736
x10           13.0601      2.662      4.907      0.000       7.840      18.280
x11           33.4662      5.746      5.825      0.000      22.199      44.734
x12           19.9011      4.559      4.365      0.000      10.960      28.842
x13            0.4141      4.361      0.095      0.924      -8.139       8.967
x14           41.4287      7.046      5.879      0.000      27.611      55.247
x15           -5.4679      5.126     -1.067      0.286     -15.520       4.584
x16          -18.8866      8.411     -2.246      0.025     -35.380      -2.393
x17            6.0914      5.590      1.090      0.276      -4.872      17.054
x18          -21.1436      9.091     -2.326      0.020     -38.972      -3.316
x19           29.5415      5.457      5.414      0.000      18.840      40.243
x20           11.7100      5.923      1.977      0.048       0.095      23.326
x21          -12.3861      5.789     -2.140      0.033     -23.739      -1.033
x22            3.3165      7.018      0.473      0.637     -10.446      17.079
x23          -10.7495      5.767     -1.864      0.062     -22.059       0.560
x24          -18.8527      5.659     -3.331      0.001     -29.951      -7.755
x25           27.4717      6.029      4.557      0.000      15.649      39.294
x26           27.9416      5.591      4.997      0.000      16.977      38.906
x27            7.1626      4.239      1.690      0.091      -1.150      15.475
x28          -12.6738      8.384     -1.512      0.131     -29.115       3.767
x29           -7.4318      9.135     -0.814      0.416     -25.346      10.483
x30          -35.8511     10.565     -3.393      0.001     -56.569     -15.133
x31           60.8041     25.215      2.411      0.016      11.357     110.251
x32           -1.0654      9.855     -0.108      0.914     -20.391      18.260
x33          -11.4787      5.254     -2.185      0.029     -21.782      -1.175
x34           -7.1003     34.591     -0.205      0.837     -74.935      60.735
x35          -30.2978     14.389     -2.106      0.035     -58.515      -2.081
x36          -46.9895     28.870     -1.628      0.104    -103.605       9.626
x37           -0.8792      8.965     -0.098      0.922     -18.460      16.702
x38          -13.0190     48.841     -0.267      0.790    -108.798      82.759
x39          -14.1525      7.651     -1.850      0.064     -29.157       0.852
x40          -24.7719     14.764     -1.678      0.094     -53.724       4.180
x41          169.8406     34.710      4.893      0.000     101.773     237.908
x42            5.0082     19.553      0.256      0.798     -33.336      43.352
x43           -0.1125     13.842     -0.008      0.994     -27.257      27.032
x44           -8.6292     18.824     -0.458      0.647     -45.543      28.285
x45           -4.4140     48.314     -0.091      0.927     -99.159      90.331
x46           -1.8340     10.044     -0.183      0.855     -21.530      17.862
x47          -70.7572     49.507     -1.429      0.153    -167.841      26.327
x48           -9.0983      7.672     -1.186      0.236     -24.143       5.947
x49           18.1750     11.843      1.535      0.125      -5.049      41.399
x50          -14.0912     14.995     -0.940      0.347     -43.496      15.314
x51           -9.5615     48.493     -0.197      0.844    -104.658      85.535
x52          -14.1340      9.938     -1.422      0.155     -33.624       5.356
x53           -7.1319     48.237     -0.148      0.882    -101.726      87.463
x54            0.6411     48.367      0.013      0.989     -94.209      95.491
x55           40.5258      9.142      4.433      0.000      22.598      58.453
x56            3.0250      9.001      0.336      0.737     -14.627      20.677
x57          -28.5742      9.798     -2.916      0.004     -47.788      -9.361
x58            3.7969      8.856      0.429      0.668     -13.570      21.164
x59            3.9644      8.805      0.450      0.653     -13.303      21.232
x60            7.2154      8.882      0.812      0.417     -10.203      24.634
==============================================================================
Omnibus:                     1424.628   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            37329.697
Skew:                           2.511   Prob(JB):                         0.00
Kurtosis:                      22.226   Cond. No.                     1.40e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.21e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [43]:
# different method
from sklearn import linear_model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state=1)

In [44]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(n_estimators=500, 
                               criterion='mse', 
                               random_state=3, 
                               n_jobs=-1)
forest.fit(X_train, y_train)
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

MSE train: 444.930, test: 2635.968
R^2 train: 0.944, test: 0.588