In [1]:
import pandas as pd
import csv
import statsmodels.api as sm
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
file_url = '/Users/xzhou/github/project_archives/files_airbnb/sf_airbnb/{}.csv'

listings_file = file_url.format('listings_details')
reviews_file = file_url.format('reviews_details')
calendar_file = file_url.format('calendar_details')

In [3]:
listings = pd.read_csv(listings_file, parse_dates=['last_scraped','host_since', 'first_review', 'last_review'])

In [4]:
listings.columns.values

array(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name',
       'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'access',
       'interaction', 'house_rules', 'thumbnail_url', 'medium_url',
       'picture_url', 'xl_picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode',
       'market', 'smart_location', 'country_code', 'country', 'latitude',
       'longitude', 'is_location_exact', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'requires_license', 'license', 'jurisdiction_names',
       'instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype=object)

In [5]:
df = listings[["host_response_rate", "host_acceptance_rate", "host_is_superhost",
               "host_listings_count", "zipcode", "property_type","room_type", "accommodates", "bathrooms", "bedrooms", 
               "beds", "price", "number_of_reviews", "review_scores_rating", "cancellation_policy", 
               "reviews_per_month"]]

In [6]:
df.head()

,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,zipcode,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,number_of_reviews,review_scores_rating,cancellation_policy,reviews_per_month
0,92%,NaN,t,1,94117.0,Apartment,Entire home/apt,3,1.0,1.0,2.0,$170.00,152,97.0,moderate,1.38
1,100%,NaN,f,2,94110.0,Apartment,Entire home/apt,5,1.0,2.0,3.0,$235.00,112,98.0,strict_14_with_grace_period,0.99
2,100%,NaN,f,10,94117.0,Apartment,Private room,2,4.0,1.0,1.0,$65.00,17,85.0,strict_14_with_grace_period,0.16
3,100%,NaN,f,10,94117.0,Apartment,Private room,2,4.0,1.0,1.0,$65.00,7,91.0,strict_14_with_grace_period,0.15
4,100%,NaN,f,2,94117.0,House,Entire home/apt,5,1.5,2.0,2.0,$675.00,26,97.0,strict_14_with_grace_period,0.24

In [7]:
# % of NaN values
(len(df)-df.count())/len(df)*100

host_response_rate        8.668777
host_acceptance_rate    100.000000
host_is_superhost         0.000000
host_listings_count       0.000000
zipcode                   2.487562
property_type             0.000000
room_type                 0.000000
accommodates              0.000000
bathrooms                 0.391979
bedrooms                  0.015076
beds                      0.075381
price                     0.000000
number_of_reviews         0.000000
review_scores_rating     17.850143
cancellation_policy       0.000000
reviews_per_month        17.216946
dtype: float64

In [8]:
df = df.drop(['host_acceptance_rate'], axis=1)

In [9]:
# drop NaN rows
df2=df.dropna(axis=0)

In [10]:
# % of rows droppped
(len(df)-len(df2))/len(df)*100

25.569124076586764

In [11]:
df2.shape

(4937, 15)

In [12]:
pd.options.mode.chained_assignment = None  # default='warn'

df2['host_response_rate'] = df2['host_response_rate'].astype(str)
df2['price'] = df2['price'].astype(str)

In [13]:
# clean data
pd.options.mode.chained_assignment = None  # default='warn'

df2['price'] = df2['price'].str.replace("[$, ]", "").astype("float")
df2['host_response_rate'] = df2['host_response_rate'].str.replace("%", "").astype("float")

In [14]:
df2['superhost']=np.where(df2['host_is_superhost']=='t',1,0)
del df2['host_is_superhost']

In [15]:
# select non-numeric variables and create dummies
non_num_vars = df2.select_dtypes(include=['object']).columns
df2[non_num_vars].head()

  property_type        room_type          cancellation_policy
0     Apartment  Entire home/apt                     moderate
1     Apartment  Entire home/apt  strict_14_with_grace_period
2     Apartment     Private room  strict_14_with_grace_period
3     Apartment     Private room  strict_14_with_grace_period
4         House  Entire home/apt  strict_14_with_grace_period

In [16]:
dummy_vars = pd.get_dummies(df2[non_num_vars])

In [17]:
dummy_vars.head()

,property_type_Aparthotel,property_type_Apartment,property_type_Bed and breakfast,property_type_Boat,property_type_Boutique hotel,property_type_Bungalow,property_type_Bus,property_type_Cabin,property_type_Condominium,property_type_Cottage,...,property_type_Treehouse,property_type_Villa,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict_14_with_grace_period,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60
0,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [18]:
# drop non-numeric variables from df2 and add the dummies
df3=df2.drop(non_num_vars,axis=1)
df3 = pd.merge(df3,dummy_vars, left_index=True, right_index=True)
df3.head()

,host_response_rate,host_listings_count,zipcode,accommodates,bathrooms,bedrooms,beds,price,number_of_reviews,review_scores_rating,...,property_type_Treehouse,property_type_Villa,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict_14_with_grace_period,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60
0,92.0,1,94117.0,3,1.0,1.0,2.0,170.0,152,97.0,...,0,0,1,0,0,0,1,0,0,0
1,100.0,2,94110.0,5,1.0,2.0,3.0,235.0,112,98.0,...,0,0,1,0,0,0,0,1,0,0
2,100.0,10,94117.0,2,4.0,1.0,1.0,65.0,17,85.0,...,0,0,0,1,0,0,0,1,0,0
3,100.0,10,94117.0,2,4.0,1.0,1.0,65.0,7,91.0,...,0,0,0,1,0,0,0,1,0,0
4,100.0,2,94117.0,5,1.5,2.0,2.0,675.0,26,97.0,...,0,0,1,0,0,0,0,1,0,0

In [19]:
# split into test and training data
np.random.seed(1)
indices = np.random.permutation(len(df3))
train_size = int(round(0.8*len(df3)))
test_size = len(df3)-train_size

y = df3['price']
x = df3.drop('price', axis =1)

x.train = x.iloc[indices[0:train_size]]
y.train = y.iloc[indices[0:train_size]]
x.test = x.iloc[indices[train_size+1:]]
y.test = y.iloc[indices[train_size+1:]]

x2 = x.train.as_matrix()
y2 = y.train.as_matrix()

/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  # Remove the CWD from sys.path while we load stuff.
/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  if sys.path[0] == '':
/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  from ipykernel import kernelapp as app
/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  app.launch_new_instance()

In [20]:
import statsmodels.api as sm
olsmod = sm.OLS(y2,x2)
olsres = olsmod.fit()
print(olsres.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.278
Model:                            OLS   Adj. R-squared:                  0.271
Method:                 Least Squares   F-statistic:                     38.58
Date:                Thu, 13 Sep 2018   Prob (F-statistic):          6.53e-243
Time:                        11:31:09   Log-Likelihood:                -27090.
No. Observations:                3950   AIC:                         5.426e+04
Df Residuals:                    3910   BIC:                         5.451e+04
Df Model:                          39
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.1679      0.350      0.479      0.632      -0.519       0.855
x2             0.0165      0.032      0.517      0.605      -0.046       0.079
x3            -0.0129      0.221     -0.059      0.953      -0.447       0.421
x4            15.3928      3.841      4.008      0.000       7.862      22.923
x5            40.8952      5.926      6.901      0.000      29.277      52.513
x6            75.4211      7.060     10.683      0.000      61.580      89.263
x7            15.2274      5.544      2.746      0.006       4.357      26.098
x8            -0.0649      0.065     -0.991      0.322      -0.193       0.064
x9             2.4953      0.586      4.260      0.000       1.347       3.644
x10           -3.8995      2.430     -1.605      0.109      -8.663       0.864
x11           26.9676      8.375      3.220      0.001      10.548      43.387
x12          201.5573   1569.553      0.128      0.898   -2875.663    3278.777
x13           40.1851   1569.448      0.026      0.980   -3036.829    3117.200
x14          123.4400   1573.211      0.078      0.937   -2960.951    3207.831
x15           29.8524   1581.389      0.019      0.985   -3070.572    3130.277
x16          130.2221   1567.845      0.083      0.934   -2943.649    3204.093
x17           19.6098   1571.230      0.012      0.990   -3060.898    3100.117
x18          206.3136   1583.055      0.130      0.896   -2897.378    3310.005
const      -2.744e-10   5.55e-09     -0.049      0.961   -1.11e-08    1.06e-08
x19           67.9895   1569.214      0.043      0.965   -3008.567    3144.546
x20            2.0825   1571.582      0.001      0.999   -3079.115    3083.280
x21           40.8566   1570.050      0.026      0.979   -3037.338    3119.051
x22           58.3621   1570.723      0.037      0.970   -3021.152    3137.876
x23           27.9439   1568.880      0.018      0.986   -3047.956    3103.844
x24          105.3652   1568.258      0.067      0.946   -2969.316    3180.046
x25           49.6017   1569.861      0.032      0.975   -3028.223    3127.426
x26           22.4281   1582.936      0.014      0.989   -3081.031    3125.887
x27           98.9027   1568.526      0.063      0.950   -2976.303    3174.109
x28           78.7520   1569.858      0.050      0.960   -2999.066    3156.570
x29          172.4164   1568.905      0.110      0.912   -2903.533    3248.366
x30           72.1694   1568.916      0.046      0.963   -3003.801    3148.140
x31          117.4889   1581.176      0.074      0.941   -2982.518    3217.496
x32           53.5124   1569.668      0.034      0.973   -3023.932    3130.957
x33           24.1956   1586.434      0.015      0.988   -3086.121    3134.512
x34           40.2942   1578.140      0.026      0.980   -3053.762    3134.351
x35          658.7698    1.2e+04      0.055      0.956   -2.29e+04    2.42e+04
x36          617.1879    1.2e+04      0.051      0.959    -2.3e+04    2.42e+04
x37          507.5837    1.2e+04      0.042      0.966   -2.31e+04    2.41e+04
x38          228.8011   7219.123      0.032      0.975   -1.39e+04    1.44e+04
x39          240.7624   7219.534      0.033      0.973   -1.39e+04    1.44e+04
x40          244.9934   7219.379      0.034      0.973   -1.39e+04    1.44e+04
x41          271.1379   7218.398      0.038      0.970   -1.39e+04    1.44e+04
x42          797.8467   7217.783      0.111      0.912   -1.34e+04    1.49e+04
==============================================================================
Omnibus:                     9379.303   Durbin-Watson:                   1.985
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        104588772.405
Skew:                          23.662   Prob(JB):                         0.00
Kurtosis:                     798.762   Cond. No.                     1.01e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.45e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [21]:
# different method
from sklearn import linear_model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state=1)

In [22]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(n_estimators=500, 
                               criterion='mse', 
                               random_state=3, 
                               n_jobs=-1)
forest.fit(X_train, y_train)
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

MSE train: 8359.452, test: 17833.431
R^2 train: 0.895, test: 0.279