In [1]:
import pandas as pd
import csv
import statsmodels.api as sm
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
file_url = '/Users/xzhou/github/project_archives/files_airbnb/sea_airbnb/{}.csv'

listings_file = file_url.format('listings_details_real')
reviews_file = file_url.format('reviews_details')
calendar_file = file_url.format('calendar_details')

In [3]:
listings = pd.read_csv(listings_file, parse_dates=['last_scraped','host_since', 'first_review', 'last_review'])

/Users/xzhou/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
listings.columns.values

array(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name',
       'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'access',
       'interaction', 'house_rules', 'thumbnail_url', 'medium_url',
       'picture_url', 'xl_picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode',
       'market', 'smart_location', 'country_code', 'country', 'latitude',
       'longitude', 'is_location_exact', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'requires_license', 'license', 'jurisdiction_names',
       'instant_bookable', 'is_business_travel_ready',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype=object)

In [5]:
df = listings[["host_response_rate", "host_acceptance_rate", "host_is_superhost",
               "host_listings_count", "zipcode", "property_type","room_type", "accommodates", "bathrooms", "bedrooms", 
               "beds", "price", "number_of_reviews", "review_scores_rating", "cancellation_policy", 
               "reviews_per_month"]]

In [6]:
df.head()

,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,zipcode,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,number_of_reviews,review_scores_rating,cancellation_policy,reviews_per_month
0,100%,NaN,f,2,98122.0,House,Entire home/apt,8,2.5,4.0,4,$296.00,19,100.0,strict_14_with_grace_period,0.16
1,100%,NaN,f,5,98115.0,House,Private room,2,1.0,1.0,1,$82.00,57,91.0,moderate,0.91
2,100%,NaN,t,1,98106.0,Guest suite,Entire home/apt,2,1.0,0.0,1,$48.00,448,95.0,strict_14_with_grace_period,4.38
3,94%,NaN,f,4,98103.0,Apartment,Entire home/apt,2,1.0,1.0,1,$90.00,124,93.0,strict_14_with_grace_period,1.12
4,100%,NaN,t,5,98108.0,Apartment,Private room,2,3.0,1.0,1,$70.00,126,92.0,moderate,1.29

In [7]:
# % of NaN values
(len(df)-df.count())/len(df)*100

host_response_rate       15.858253
host_acceptance_rate    100.000000
host_is_superhost         0.000000
host_listings_count       0.000000
zipcode                   0.859430
property_type             0.000000
room_type                 0.000000
accommodates              0.000000
bathrooms                 0.082411
bedrooms                  0.011773
beds                      0.000000
price                     0.000000
number_of_reviews         0.000000
review_scores_rating     12.102661
cancellation_policy       0.000000
reviews_per_month        11.325642
dtype: float64

In [8]:
df = df.drop(['host_acceptance_rate'], axis=1)

In [9]:
# drop NaN rows
df2=df.dropna(axis=0)

In [10]:
# % of rows droppped
(len(df)-len(df2))/len(df)*100

23.69908170473275

In [11]:
df2.shape

(6481, 15)

In [12]:
pd.options.mode.chained_assignment = None  # default='warn'

df2['host_response_rate'] = df2['host_response_rate'].astype(str)
df2['price'] = df2['price'].astype(str)

In [13]:
# clean data
pd.options.mode.chained_assignment = None  # default='warn'

df2['price'] = df2['price'].str.replace("[$, ]", "").astype("float")
df2['host_response_rate'] = df2['host_response_rate'].str.replace("%", "").astype("float")

In [14]:
df2['superhost']=np.where(df2['host_is_superhost']=='t',1,0)
del df2['host_is_superhost']

In [15]:
# select non-numeric variables and create dummies
non_num_vars = df2.select_dtypes(include=['object']).columns
df2[non_num_vars].head()

  property_type        room_type          cancellation_policy
0         House  Entire home/apt  strict_14_with_grace_period
1         House     Private room                     moderate
2   Guest suite  Entire home/apt  strict_14_with_grace_period
3     Apartment  Entire home/apt  strict_14_with_grace_period
4     Apartment     Private room                     moderate

In [16]:
dummy_vars = pd.get_dummies(df2[non_num_vars])

In [17]:
dummy_vars.head()

,property_type_Aparthotel,property_type_Apartment,property_type_Bed and breakfast,property_type_Boat,property_type_Boutique hotel,property_type_Bungalow,property_type_Bus,property_type_Cabin,property_type_Camper/RV,property_type_Casa particular (Cuba),...,property_type_Yurt,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_strict_14_with_grace_period,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [18]:
# drop non-numeric variables from df2 and add the dummies
df3=df2.drop(non_num_vars,axis=1)
df3 = pd.merge(df3,dummy_vars, left_index=True, right_index=True)
df3.head()

,host_response_rate,host_listings_count,zipcode,accommodates,bathrooms,bedrooms,beds,price,number_of_reviews,review_scores_rating,...,property_type_Yurt,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_strict_14_with_grace_period,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60
0,100.0,2,98122.0,8,2.5,4.0,4,296.0,19,100.0,...,0,1,0,0,0,0,0,1,0,0
1,100.0,5,98115.0,2,1.0,1.0,1,82.0,57,91.0,...,0,0,1,0,0,1,0,0,0,0
2,100.0,1,98106.0,2,1.0,0.0,1,48.0,448,95.0,...,0,1,0,0,0,0,0,1,0,0
3,94.0,4,98103.0,2,1.0,1.0,1,90.0,124,93.0,...,0,1,0,0,0,0,0,1,0,0
4,100.0,5,98108.0,2,3.0,1.0,1,70.0,126,92.0,...,0,0,1,0,0,1,0,0,0,0

In [19]:
# split into test and training data
np.random.seed(1)
indices = np.random.permutation(len(df3))
train_size = int(round(0.8*len(df3)))
test_size = len(df3)-train_size

y = df3['price']
x = df3.drop('price', axis =1)

x.train = x.iloc[indices[0:train_size]]
y.train = y.iloc[indices[0:train_size]]
x.test = x.iloc[indices[train_size+1:]]
y.test = y.iloc[indices[train_size+1:]]

x2 = x.train.as_matrix()
y2 = y.train.as_matrix()

/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  # Remove the CWD from sys.path while we load stuff.
/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  if sys.path[0] == '':
/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  from ipykernel import kernelapp as app
/Users/xzhou/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  app.launch_new_instance()

In [20]:
import statsmodels.api as sm
olsmod = sm.OLS(y2,x2)
olsres = olsmod.fit()
print(olsres.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.581
Model:                            OLS   Adj. R-squared:                  0.577
Method:                 Least Squares   F-statistic:                     151.5
Date:                Thu, 13 Sep 2018   Prob (F-statistic):               0.00
Time:                        11:17:24   Log-Likelihood:                -29402.
No. Observations:                5185   AIC:                         5.890e+04
Df Residuals:                    5137   BIC:                         5.921e+04
Df Model:                          47
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.1455      0.133     -1.093      0.275      -0.407       0.116
x2             0.1294      0.007     17.718      0.000       0.115       0.144
x3            -0.1376      0.057     -2.418      0.016      -0.249      -0.026
x4            13.4200      1.080     12.426      0.000      11.303      15.537
x5            35.4625      2.133     16.623      0.000      31.280      39.645
x6            25.7402      1.937     13.291      0.000      21.943      29.537
x7            -2.9710      1.546     -1.922      0.055      -6.002       0.060
x8            -0.0761      0.018     -4.195      0.000      -0.112      -0.041
x9             0.7507      0.174      4.309      0.000       0.409       1.092
x10           -2.6913      0.499     -5.388      0.000      -3.671      -1.712
x11            1.5886      2.238      0.710      0.478      -2.798       5.975
x12          876.3067    348.372      2.515      0.012     193.349    1559.264
x13          823.0566    348.845      2.359      0.018     139.172    1506.941
x14          820.7432    349.410      2.349      0.019     135.751    1505.736
x15          853.5668    349.348      2.443      0.015     168.696    1538.438
x16         1211.8268    351.524      3.447      0.001     522.689    1900.964
x17          814.7525    349.179      2.333      0.020     130.212    1499.293
x18          814.0430    355.578      2.289      0.022     116.959    1511.127
x19          817.8923    349.492      2.340      0.019     132.740    1503.045
x20          798.6409    350.017      2.282      0.023     112.458    1484.824
x21          839.9634    354.708      2.368      0.018     144.586    1535.341
x22         1097.0217    355.052      3.090      0.002     400.969    1793.075
x23          826.3546    348.874      2.369      0.018     142.412    1510.297
x24          848.6331    349.795      2.426      0.015     162.885    1534.381
x25          799.7517    349.220      2.290      0.022     115.133    1484.371
x26          815.7899    349.136      2.337      0.019     131.334    1500.246
x27          673.3117    350.317      1.922      0.055     -13.458    1360.082
x28          804.4007    349.143      2.304      0.021     119.932    1488.869
x29          887.3307    349.511      2.539      0.011     202.140    1572.521
x30          768.6495    355.558      2.162      0.031      71.604    1465.695
x31          831.2017    357.028      2.328      0.020     131.274    1531.130
x32          798.4433    355.080      2.249      0.025     102.335    1494.552
x33          844.5879    348.963      2.420      0.016     160.472    1528.703
x34          810.2575    349.533      2.318      0.020     125.024    1495.491
x35          897.2853    348.682      2.573      0.010     213.720    1580.850
x36          796.2752    351.157      2.268      0.023     107.858    1484.692
x37          834.3673    349.672      2.386      0.017     148.861    1519.873
x38          807.7389    349.171      2.313      0.021     123.214    1492.263
x39          760.1474    355.655      2.137      0.033      62.913    1457.382
x40          880.7397    352.512      2.498      0.013     189.666    1571.813
x41          817.8513    351.949      2.324      0.020     127.881    1507.821
x42         8466.8523   3489.021      2.427      0.015    1626.886    1.53e+04
x43         8428.0542   3489.046      2.416      0.016    1588.039    1.53e+04
x44         8376.0248   3488.465      2.401      0.016    1537.148    1.52e+04
x45         4195.6073   1744.598      2.405      0.016     775.453    7615.762
x46         4194.0625   1744.468      2.404      0.016     774.162    7613.963
x47         4223.7901   1744.447      2.421      0.016     803.930    7643.650
x48         4202.5671   1744.527      2.409      0.016     782.550    7622.584
x49         4147.8567   1744.613      2.378      0.017     727.672    7568.041
x50         4307.0475   1744.300      2.469      0.014     887.477    7726.618
==============================================================================
Omnibus:                     3710.342   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           151239.975
Skew:                           2.942   Prob(JB):                         0.00
Kurtosis:                      28.796   Cond. No.                     1.26e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.14e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [21]:
# different method
from sklearn import linear_model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state=1)

In [22]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(n_estimators=500, 
                               criterion='mse', 
                               random_state=3, 
                               n_jobs=-1)
forest.fit(X_train, y_train)
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

MSE train: 1101.436, test: 4283.077
R^2 train: 0.928, test: 0.616